Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Added Changelog
  CHANGELOG.md
Due: none

unreleased version
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix merge issues that were not caught
  include/BLE_Common.h
  include/sensors/EchelonData.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/sensors/EchelonData.cpp
  src/sensors/SensorDataFactory.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Insert Peloton 7 Flat
  CHANGELOG.md
  Hardware/Inserts/Peloton_7_flat.STL
  Hardware/Inserts/Solidworks_Designs/Peloton_7_flat.SLDPRT
Due: none

Fix merge issues
  CHANGELOG.md
Due: none

Fixed Echelon licences.
  CHANGELOG.md
  include/sensors/EchelonData.h
  src/sensors/EchelonData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Buffer
  include/BLE_Common.h
Due: docker-clang-format, docker-cpplint

First working(ish) test
  include/BLE_Common.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix merge issues and add build as github action
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  include/BLE_Common.h
  include/sensors/FitnessMachineIndoorBikeData.h
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/sensors/FlywheelData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add credits file
  CREDITS.md
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Ignore zero heartrate from FTMS
  CHANGELOG.md
  src/sensors/FitnessMachineIndoorBikeData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Improve logging Add sending to telegram back (not optimal ATM, creates too many strings) Remove config file logging to not expose secrets Merge with develop
  .gitignore
  CHANGELOG.md
  build_date_macro.py
  data/status.html
  data/style.css
  include/BLE_Common.h
  include/HTTP_Server_Basic.h
  include/Main.h
  include/SS2KLog.h
  include/SmartSpin_parameters.h
  include/sensors/CyclePowerData.h
  include/sensors/FitnessMachineIndoorBikeData.h
  include/sensors/HeartRateData.h
  include/sensors/SensorDataFactory.h
  include/settings.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SS2KLog.cpp
  src/SmartSpin_parameters.cpp
  src/sensors/FitnessMachineIndoorBikeData.cpp
  src/sensors/SensorDataFactory.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix firmware version loading Fix display of debug logs
  data/settings.html
  data/status.html
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Small improvements
  include/SS2KLog.h
  include/settings.h
  src/HTTP_Server_Basic.cpp
  src/SS2KLog.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated Peloton 7 Flat Insert
  Hardware/Inserts/Peloton_7_flat v2.stl
  Hardware/Inserts/Peloton_7_flat.STL
Due: none

Changed HR output to two bytes.
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Remove hardware ignore Only run build if software has changed
  .github/workflows/pre-commit.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fixing stuck cadence for Assimoa Favero Uno
  CHANGELOG.md
  include/BLE_Common.h
  include/sensors/CyclePowerData.h
  src/sensors/CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add documentation to SensorData class Replace DoublePower setting with PowerCorrectionFactor setting
  CHANGELOG.md
  data/bluetoothscanner.html
  data/btsimulator.html
  data/settings.html
  include/SmartSpin_parameters.h
  include/sensors/SensorData.h
  src/BLE_Common.cpp
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix changelog syntax
  CHANGELOG.md
Due: none

Updated Echelon Insert
  Hardware/Inserts/Echelon_60mm.STL
  Hardware/Inserts/Solidworks_Designs/Echelon_50mm.SLDPRT
  Hardware/Inserts/Solidworks_Designs/Echelon_60mm.SLDPRT
Due: none

Updated changelog
  CHANGELOG.md
Due: none

updated changelog
  CHANGELOG.md
Due: none

removed Echelon 50mm
  Hardware/Inserts/Echelon_50mm.STL
  Hardware/Inserts/Solidworks_Designs/Echelon_50mm.SLDPRT
Due: none

u_16 change, FW change, Erg Tweak
  CHANGELOG.md
  include/BLE_Common.h
  src/BLE_Client.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix data type
  include/SmartSpin_parameters.h
Due: docker-clang-format, docker-cpplint

Change a couple variable to const
  src/sensors/CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix style
  src/sensors/CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added ERGSensitivity setting
  CHANGELOG.md
  data/settings.html
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Server.cpp
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Autoformat applied
  include/settings.h
Due: docker-clang-format, docker-cpplint

apply autoformat
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Move shifter logging into stepper routine
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix format
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Reorganized ERG Calculation
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
