Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Update BLE_Wattbike_Service.cpp
  src/BLE_Wattbike_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

rewrote lookupWatts and lookup function to have interpolate and extrapolate functions
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog
  CHANGELOG.md
Due: none

Decreased DirCon Memory footprint
  include/DirConManager.h
  include/DirConMessage.h
  include/settings.h
  src/DirConManager.cpp
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Optomizing memory usage.
  include/BLE_Common.h
  include/DirConManager.h
  include/settings.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/DirConManager.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

cleaned up ble notift since NimBLE already tracks clients
  include/BLE_Common.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Firmware_Update.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_SB20_Service.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

cleaned up power_table.cpp
  include/Power_Table.h
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

allocation set_points values to the stack
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Streamline neighbor checking
  include/Power_Table.h
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

deactivated wattbike characteristic
  include/BLE_Common.h
  include/settings.h
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added check for memory before table fill
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Memory optimization
  CHANGELOG.md
  include/BLE_Common.h
  include/Power_Table.h
  include/SS2KLog.h
  include/settings.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/Power_Table.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added more memory checks
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

baby steps to stable
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Reducing Memory usage
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added more information to heap low message
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

cleanup. Reduced time delay after ERG seek to 4 seconds
  src/ERG_Mode.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

changed debugging settings
  include/settings.h
Due: docker-clang-format, docker-cpplint

Stack debug to SS2K_LOG instead of serial printf
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

turned off powertable logging
  include/settings.h
Due: docker-clang-format, docker-cpplint

Added Pictures to Folders
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Schwinn/AC/Top.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Schwinn/AC/Top2.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Schwinn/AC/side.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Schwinn/IC4/Schwinn_IC4_Distance.jpeg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Schwinn/IC4/Schwinn_IC4_Side.jpeg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Schwinn/IC4/Schwinn_IC4_Top.jpeg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Stages/SC3/SC3_SmartSpin_assy - Sheet1.pdf
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Stages/SC3/SC3_SmartSpin_assy.png
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Stages/SC3/knob_SC3.SLDDRW
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Stages/SC3/knob_SC3.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/Stages SC3.SLDPRT
  Hardware/Common Assets/Inserts/Stages SC3.STEP
Due: none

cert.h update
  CHANGELOG.md
  include/cert.h
Due: docker-clang-format, docker-cpplint

Update changelog for version 25.4.8
  CHANGELOG.md
Due: none

fixed unit testing
  .vscode/tasks.json
  lib/SS2K/include/sensors/CyclePowerData.h
  lib/SS2K/src/sensors/CyclePowerData.cpp
  platformio.ini
  test/test.cpp.txt
  test/test.h
  test/test_CyclePowerData.cpp
  test/test_FitnessMachineIndoorBikeData.cpp
  test/test_PowerBuffer.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

WIP
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added license
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated to NimBLE "nimble-core-1.6" for testing.
  platformio.ini
Due: none

reverting nimble change
  platformio.ini
Due: none

stability testing
  platformio.ini
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

switched to pioarduino
  platformio.ini
Due: none

fixed compile issues
  platformio.ini
  src/BLE_Firmware_Update.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

lots of iram work to get a newer version of Arduino Core working
  include/BLE_Common.h
  include/Main.h
  include/settings.h
  platformio.ini
  sdkconfig
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

minor spelling change
  include/settings.h
  test/test.cpp.txt
Due: docker-clang-format, docker-cpplint

Builds
  .vscode/settings.json
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/BLE_Custom_Characteristic.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed small warnings. Ready for testing
  include/PowerTable_Helpers.h
  src/HTTP_Server_Basic.cpp
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Lookup testing working
  include/SmartSpin_parameters.h
  src/PowerTable_Helpers.cpp
  test/data/power_table.ptab
  test/test.h
  test/test_lookup.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added lookup comments
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
