Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

initial commit
  dependencies.lock
  include/boards.h
  include/settings.h
  min_spiffs_s3_8mb.csv
  platformio.ini
  sdkconfig.debug-s3
  sdkconfig.release-s3
Due: docker-clang-format, docker-cpplint

Debug working for S3
  .gitignore
  platformio.ini
Due: none

[skip actions] changed readme to use the banner in hardware
  README.md
Due: none

added openBikeControl
  include/BLE_OpenBikeControl_Service.h
  include/DirConManager.h
  lib/SS2K/include/Constants.h
  platformio.ini
  scripts/__pycache__/pre_build_cleanup.cpython-313.pyc
  scripts/pre_build_cleanup.py
  src/BLE_OpenBikeControl_Service.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

working
  dependencies.lock
  partitions_esp32_4mb.csv
  partitions_esp32s3_16mb.csv
  partitions_esp32s3_8mb.csv
  platformio.ini
  sdkconfig.debug-s3
  sdkconfig.release-s3
Due: none

TMC driver work
  .github/copilot-instructions.md
  .github/workflows/build.yml
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/~SmartSpin2k.kicad_sch.lck
  dependencies.lock
  include/boards.h
  include/settings.h
  platformio.ini
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

All go
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/~SmartSpin2k.kicad_sch.lck
  include/settings.h
  platformio.ini
  sdkconfig.release-s3.old
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix Peloton serial homing range and post-homing starting gear
  CHANGELOG.md
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated platformio.ini
  platformio.ini
Due: none

Better homing
  include/Main.h
  include/Stepper.h
  src/Main.cpp
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

in progress
  include/Main.h
  include/Stepper.h
  include/settings.h
  src/ERG_Mode.cpp
  src/Main.cpp
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

3 taps if first two don't agree
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Coolstep off during homing
  include/Main.h
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 26.4.5
  CHANGELOG.md
Due: none

Garmin BLE changes
  dependencies.lock
  sdkconfig.debug
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fix(ble): restructure advertising and ensure spec compliance for Garmin compatibility
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog.md. Moved constants and definitions to header file. Code cleanup
  CHANGELOG.md
  include/Stepper.h
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed unused _closeToTarget
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed stepper dir regression
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added additional position update.
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

formatting
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 26.5.2
  CHANGELOG.md
Due: none

updated changelog
  CHANGELOG.md
Due: none

fixed advertising
  dependencies.lock
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Disabled OpenBikeControl and ZP (for now)
  include/BLE_Zwift_Service.h
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Advertisement work
  src/BLE_Client.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed vector from cps
  include/BLE_Definitions.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed hrm from advertisement
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add mDNS service support for OpenBikeControl and update DirConManager to handle service UUIDs
  include/BLE_OpenBikeControl_Service.h
  include/DirConManager.h
  src/BLE_OpenBikeControl_Service.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

code review fixes
  src/BLE_Zwift_Service.cpp
  src/DirConMessage.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Potential fix for pull request finding
  sdkconfig.debug
Due: none

Update changelog for version 26.5.4
  CHANGELOG.md
Due: none

updated build.yml
  .github/workflows/build.yml
Due: none

Update .gitignore
  .gitignore
  CHANGELOG.md
Due: none
