Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

fixed BLE with Zwift (BLE values were not being set, only Notified)
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_SB20_Service.cpp
  src/BLE_Wattbike_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

switched to notifications
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

reduced comments
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

changed max connections back to 7
  platformio.ini
Due: none

updated connected client count
  include/BLE_Common.h
  src/BLE_Common.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

decreased mtBLEDevices to 3
  include/settings.h
Due: docker-clang-format, docker-cpplint

lower memory usage
  platformio.ini
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed Rouvy connection issue
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

limited to one dircon connection. removed unused variables.
  .vscode/settings.json
  include/DirConManager.h
  include/PowerTable_Helpers.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

re-enabled logging
  platformio.ini
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Should have fixed max connections issue
  platformio.ini
Due: none

spline fill methods check for time
  include/PowerTable_Helpers.h
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated gitignore
  .gitignore
Due: none

initial test build
  .gitignore
  .vscode/settings.json
  CMakeLists.txt
  dependencies.lock
  min_spiffs.csv
  platformio.ini
  sdkconfig
  sdkconfig.defaults
  sdkconfig.old
  sdkconfig.release
  sdkconfig.release.old
  src/CMakeLists.txt
  src/Main.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

trying to compile with espressif plugin
  .vscode/settings.json
  CMakeLists.txt
  dependencies.lock
  include/CMakeLists.txt
  sdkconfig.old
  sdkconfig.release
  sdkconfig.release.old
  src/CMakeLists.txt
Due: none

Revert "trying to compile with espressif plugin"
  .vscode/settings.json
  CMakeLists.txt
  dependencies.lock
  include/CMakeLists.txt
  sdkconfig.old
  sdkconfig.release
  sdkconfig.release.old
  src/CMakeLists.txt
Due: none

Revert "trying to compile with espressif plugin"
  dependencies.lock
  sdkconfig.release
Due: none

Fix structure and cmake files to build with esp-idf
  .gitignore
  .gitmodules
  CMakeLists.txt
  include/BLE_Fitness_Machine_Service.h
  main/BLE_Client.cpp
  main/BLE_Common.cpp
  main/BLE_Custom_Characteristic.cpp
  main/BLE_Cycling_Power_Service.cpp
  main/BLE_Cycling_Speed_Cadence.cpp
  main/BLE_Device_Information_Service.cpp
  main/BLE_Firmware_Update.cpp
  main/BLE_Fitness_Machine_Service.cpp
  main/BLE_Heart_Service.cpp
  main/BLE_SB20_Service.cpp
  main/BLE_Server.cpp
  main/BLE_Setup.cpp
  main/BLE_Wattbike_Service.cpp
  main/CMakeLists.txt
  main/DirConManager.cpp
  main/DirConMessage.cpp
  main/ERG_Mode.cpp
  main/HTTP_Server_Basic.cpp
  main/Main.cpp
  main/PowerTable_Helpers.cpp
  main/Power_Table.cpp
  main/SS2KLog.cpp
  main/SensorCollector.cpp
  main/SmartSpin_parameters.cpp
  main/UdpAppender.cpp
  main/WebsocketAppender.cpp
  main/gitTracking.md
  main/idf_component.yml
  platformio.ini
  sdkconfig
  sdkconfig.defaults
  sdkconfig.old
  src/CMakeLists.txt
Due: docker-clang-format, docker-cpplint, docker-piocheck

Revert "Fix structure and cmake files to build with esp-idf"
  .gitignore
  .gitmodules
  CMakeLists.txt
  include/BLE_Fitness_Machine_Service.h
  main/CMakeLists.txt
  main/idf_component.yml
  platformio.ini
  sdkconfig
  sdkconfig.defaults
  sdkconfig.old
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Device_Information_Service.cpp
  src/BLE_Firmware_Update.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_SB20_Service.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/BLE_Wattbike_Service.cpp
  src/CMakeLists.txt
  src/DirConManager.cpp
  src/DirConMessage.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  src/SS2KLog.cpp
  src/SensorCollector.cpp
  src/SmartSpin_parameters.cpp
  src/UdpAppender.cpp
  src/WebsocketAppender.cpp
  src/gitTracking.md
Due: docker-clang-format, docker-cpplint, docker-piocheck

Changes from @h2zero
  .gitignore
  .gitmodules
  .vscode/settings.json
  CMakeLists.txt
  dependencies.lock
  include/BLE_Fitness_Machine_Service.h
  main/BLE_Client.cpp
  main/BLE_Common.cpp
  main/BLE_Custom_Characteristic.cpp
  main/BLE_Cycling_Power_Service.cpp
  main/BLE_Cycling_Speed_Cadence.cpp
  main/BLE_Device_Information_Service.cpp
  main/BLE_Firmware_Update.cpp
  main/BLE_Fitness_Machine_Service.cpp
  main/BLE_Heart_Service.cpp
  main/BLE_SB20_Service.cpp
  main/BLE_Server.cpp
  main/BLE_Setup.cpp
  main/BLE_Wattbike_Service.cpp
  main/CMakeLists.txt
  main/DirConManager.cpp
  main/DirConMessage.cpp
  main/ERG_Mode.cpp
  main/HTTP_Server_Basic.cpp
  main/Main.cpp
  main/PowerTable_Helpers.cpp
  main/Power_Table.cpp
  main/SS2KLog.cpp
  main/SensorCollector.cpp
  main/SmartSpin_parameters.cpp
  main/UdpAppender.cpp
  main/WebsocketAppender.cpp
  main/gitTracking.md
  main/idf_component.yml
  sdkconfig
  sdkconfig.defaults
  sdkconfig.old
  src/CMakeLists.txt
Due: docker-clang-format, docker-cpplint, docker-piocheck

Revert "Changes from @h2zero"
  .gitignore
  .gitmodules
  .vscode/settings.json
  CMakeLists.txt
  dependencies.lock
  include/BLE_Fitness_Machine_Service.h
  main/CMakeLists.txt
  main/idf_component.yml
  sdkconfig
  sdkconfig.defaults
  sdkconfig.old
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Device_Information_Service.cpp
  src/BLE_Firmware_Update.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_SB20_Service.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/BLE_Wattbike_Service.cpp
  src/CMakeLists.txt
  src/DirConManager.cpp
  src/DirConMessage.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  src/SS2KLog.cpp
  src/SensorCollector.cpp
  src/SmartSpin_parameters.cpp
  src/UdpAppender.cpp
  src/WebsocketAppender.cpp
  src/gitTracking.md
Due: docker-clang-format, docker-cpplint, docker-piocheck

builds in pio
  .gitignore
  .vscode/settings.json
  dependencies.lock
  sdkconfig.defaults
Due: none

updated github build. Updated max connections.
  .github/workflows/build.yml
  .gitignore
  dependencies.lock
  platformio.ini
  sdkconfig.release
  sdkconfig.release.old
Due: none

changed computation timeout and maintenance loop priority
  include/PowerTable_Helpers.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated connection params
  .gitignore
  dependencies.lock
  include/BLE_Common.h
  sdkconfig.release
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed reboot on firmware update page load. Fixed BLE connections being slow to initiate
  include/BLE_Common.h
  include/settings.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed Dircon
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Improved BLE connection speed
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added new fillByAverage()
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

ptab4pwr skips reliability checks
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

load table faster if ptab4pwr and always provide power output if there is cadence even if no table.
  src/ERG_Mode.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

bugfix
  dependencies.lock
  sdkconfig.release
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

turned off fillbyaverage
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

remove weighted downvoting
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed tests
  src/PowerTable_Helpers.cpp
  test/test_table_fill.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

new completePowerTable() method
  dependencies.lock
  include/PowerTable_Helpers.h
  sdkconfig.release
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  test/data/10x5-26-25.ptab
  test/data/averageMethod.ptab
  test/test_table_fill.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

run fill until done. Don't enfore monotonicity on entries with readings unless things get dire :)
  include/PowerTable_Helpers.h
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

higher reading wins
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

0 is back
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Allow more change
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
