Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

[skip actions] Added better sunny 1805 pictures. Aligned sdkconfig.debug with release
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Sunny_B1805/Combined.webp
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Sunny_B1805/Side.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Sunny_B1805/TOP.jpg
  sdkconfig.debug
  sdkconfig.release
  sdkconfig.release.old
Due: none

sleep after 15min of inactivity after reboot
  include/BLE_Common.h
  src/BLE_Common.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

changelog
  CHANGELOG.md
  dependencies.lock
Due: none

Update changelog for version 26.5.4
  CHANGELOG.md
Due: none

Added constants for namespace and keys and unwrapped the setup for readability.
  include/BLE_Common.h
  src/BLE_Common.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add agent notes for SmartSpin2k firmware
  AGENTS.md
Due: none

Simplified logic further. Moved flag from NVS to RTC memory.
  AGENTS.md
  dependencies.lock
  include/BLE_Common.h
  include/Main.h
  src/BLE_Common.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

initial_commit
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

build fix
  platformio.ini
  sdkconfig.release-s3
Due: none

Update changelog for version 26.5.27
  CHANGELOG.md
Due: none

initial changes
  .gitignore
  .vscode/settings.json
  dependencies.lock
  include/BLE_Common.h
  lib/SS2K/include/Constants.h
  lib/SS2K/include/sensors/ChronoData.h
  lib/SS2K/src/sensors/ChronoData.cpp
  lib/SS2K/src/sensors/SensorDataFactory.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

feat: add ChronoData sensor support and implement BLE client task management
  lib/SS2K/src/sensors/ChronoData.cpp
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

feat: add support for Spinning Bike Chrono to changelog
  CHANGELOG.md
Due: none

Added ability to run steady in one direction
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance OpenBikeControl service with gear set functionality and improve DirCon message handling
  include/BLE_OpenBikeControl_Service.h
  include/DirConManager.h
  include/DirConMessage.h
  src/BLE_OpenBikeControl_Service.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
  src/DirConMessage.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

connecting well in Rouvy
  include/BLE_Zwift_Service.h
  src/BLE_Zwift_Service.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

zwift shifts should now register on the app.
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update bluetoothscanner.html
  data/bluetoothscanner.html
Due: none

Update changelog for version 26.7.15
  CHANGELOG.md
Due: none

initial commit
  .github/workflows/build.yml
  .gitignore
  AGENTS.md
  CMakeLists.txt
  CustomCharacteristic.md
  data_s3/bluetoothscanner.html
  data_s3/btsimulator.html
  data_s3/develop.html
  data_s3/favicon.ico
  data_s3/index.html
  data_s3/list.json
  data_s3/settings.html
  data_s3/shift.html
  data_s3/status.html
  data_s3/streamfit.html
  data_s3/style.css
  dependencies.lock
  include/BLE_Custom_Characteristic.h
  include/Builtin_Pages.h
  include/Main.h
  include/boards.h
  include/settings.h
  partitions_esp32s3_16mb.csv
  platformio.ini
  scripts/pre_build_cleanup.py
  sdkconfig.s3.defaults
  src/BLE_Custom_Characteristic.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Memory management fixes
  include/Main.h
  platformio.ini
  sdkconfig.S3release.old
  sdkconfig.release
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor board configuration and initialization logic; consolidate pin mappings and improve homing behavior handling.
  .github/workflows/build.yml
  AGENTS.md
  CHANGELOG.md
  include/Builtin_Pages.h
  include/SmartSpin_parameters.h
  include/Stepper.h
  include/boards.h
  include/settings.h
  platformio.ini
  scripts/name_build_artifacts.py
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add new HTML, CSS, and Python files for filesystem preparation and compression
  AGENTS.md
  CHANGELOG.md
  data/bluetoothscanner.html.gz
  data/btsimulator.html.gz
  data/develop.html.gz
  data/index.html.gz
  data/list.json
  data/settings.html.gz
  data/shift.html.gz
  data/status.html.gz
  data/streamfit.html.gz
  data/style.css.gz
  data_s3/bluetoothscanner.html.gz
  data_s3/btsimulator.html.gz
  data_s3/develop.html.gz
  data_s3/index.html.gz
  data_s3/list.json
  data_s3/settings.html.gz
  data_s3/shift.html.gz
  data_s3/status.html.gz
  data_s3/streamfit.html.gz
  data_s3/style.css.gz
  platformio.ini
  scripts/prepare_filesystem.py
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update resistance handling to blacklist non-Grupetto devices
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Rename S3 firmware artifacts and update build script to remove unprefixed versions
  AGENTS.md
  scripts/name_build_artifacts.py
Due: none

Add return link to main page in OTA server index and update styles
  include/Builtin_Pages.h
Due: docker-clang-format, docker-cpplint

Update build process to include partitions and bootloader binaries; rename artifacts accordingly
  .github/workflows/build.yml
  AGENTS.md
  scripts/name_build_artifacts.py
Due: none

Enhance OTA filesystem handling to remount LittleFS after upload and save user settings
  data/bluetoothscanner.html.gz
  data/btsimulator.html.gz
  data/develop.html.gz
  data/index.html.gz
  data/settings.html.gz
  data/shift.html.gz
  data/status.html.gz
  data/streamfit.html.gz
  data/style.css.gz
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add BLE_allSettings characteristic for chunked JSON snapshot of user settings
  AGENTS.md
  CustomCharacteristic.md
  include/BLE_Custom_Characteristic.h
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Library updates
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  AGENTS.md
  CMakeLists.txt
  platformio.ini
  scripts/name_build_artifacts.py
  sdkconfig.S3release.old
  sdkconfig.release
  sdkconfig.release.old
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Only use resistance values from Grupetto
  .gitignore
  src/BLE_Client.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
