Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

broke out style.css for testing
  data/style.css
Due: none

cleaned up style.css for evaluation
  data/style.css
Due: none

Added template html for testing
  data/HTML_testing_template.html
  data/style.css
Due: none

html updates
  data/HTML_testing_template.html
  include/Builtin_Pages.h
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Peloton low profile (for slammed bars) bike mount by @chaloney
  CHANGELOG.md
  Hardware/Common Assets/Bike Mount/Peloton low handlebars.stl
Due: none

Adding a Passthrough to enable virtual shifting on regular trainers
  Hardware/Common Assets/Inserts/Marcy_CLub_Revolution.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/Marcy.SLDPRT
  Hardware/Common Assets/Inserts/YOSUDA_PRO.STL
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Initial_Untested
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Pro-Form_505_SPX.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/Pro-Form_505_SPX.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/Pro-Form_505_SPX.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/~$Pro-Form_505_SPX.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/~$Pro-Form_505_SPX.SLDPRT
Due: none

removed temp files
  Hardware/Common Assets/Inserts/Solidworks_Designs/~$Pro-Form_505_SPX.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/~$Pro-Form_505_SPX.SLDPRT
Due: none

Updated Knob Diameter
  Hardware/Common Assets/Inserts/Pro-Form_505_SPX.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/Pro-Form_505_SPX.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/Pro-Form_505_SPX.SLDPRT
Due: none

Functional test - working. Needs to be moved into shifter routines for faster feedback.
  include/SS2KLog.h
  src/BLE_Client.cpp
  src/ERG_Mode.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Implemented instantaneous shift passthrough. Should work in ERG mode as well.
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update README.md
  README.md
Due: none

First on trainer testing complete.
  CHANGELOG.md
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated CAD for the case to work flawlessly with small tweaks to motor height.
  CHANGELOG.md
  Hardware/V3 - Integrated PCB/Case/Case/Body_Left.STL
  Hardware/V3 - Integrated PCB/Case/Case/Body_Right.STL
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.STEP
Due: none

Second Test
  include/BLE_Common.h
  include/BLE_Definitions.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

1st Torque Table test
  CHANGELOG.md
  include/ERG_Mode.h
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increased delay after obtaining lookup value (trust the lookup value)
  include/ERG_Mode.h
  src/BLE_Common.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Yesoul S3
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Bike Mount/CAD/Yesoul S3.step
  Hardware/Common Assets/Bike Mount/Yesoul S3.stl
  Hardware/Common Assets/KnobCups/CAD/Yesoul S3 v6.step
  Hardware/Common Assets/KnobCups/Yesoul S3.stl
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Implemented saving Torque Table
  include/ERG_Mode.h
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixes #500
  CHANGELOG.md
  data/bluetoothscanner.html
  lib/SS2K/include/Constants.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Resolved Merge Conflicts
  CHANGELOG.md
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Reworked_Schwinn_IC4 knob.
  CHANGELOG.md
  Hardware/Common Assets/Inserts/Schwinn_IC4.STL
  Hardware/Common Assets/Inserts/Schwinn_IC4_48.5mm.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/Schwinn_IC4.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/Schwinn_IC4_48.5mm.SLDPRT
Due: none

Increased Ridge Width
  Hardware/Common Assets/Inserts/Schwinn_IC4.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/Schwinn_IC4.SLDPRT
Due: none

switched w to n.m in torque debug log
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated IC4/C6 Arm Length
  Hardware/Common Assets/Arm/readme.md
Due: none

fixed saving/loading table and fixed TorqueTable out of bounds bug.
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated Logging
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

adding bowflex photos and measurements
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Bowflex_Velocore/bowflex_flexcore_side.png
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Bowflex_Velocore/bowflex_flexcore_top.jpg
Due: none

linux compile fix
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

stack testing
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Setup.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

stack tweak
  include/settings.h
Due: docker-clang-format, docker-cpplint

Peloton 4a workaround until I can import the resistance table for Peloton.
  CHANGELOG.md
  lib/SS2K/include/Constants.h
  lib/SS2K/src/sensors/PelotonData.cpp
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

adding dial & headtube measurements
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Bowflex_Velocore/bowflex_dial_grooves.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Bowflex_Velocore/bowflex_headtube_length.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Bowflex_Velocore/bowflex_headtube_width.jpg
Due: none

Added Velocore insert
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/BowFlex_Velocore.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/BowFlex_Velocore.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/BowFlex_Velocore.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/~$BowFlex_Velocore.SLDPRT
Due: none

Made the insert installable :)
  Hardware/Common Assets/Inserts/BowFlex_Velocore.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/BowFlex_Velocore.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/BowFlex_Velocore.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/~$BowFlex_Velocore.SLDPRT
Due: none

Updates Velocore arm length.
  Hardware/Common Assets/Arm/readme.md
Due: none

Fix for Peloton not working in tablet mode
  lib/SS2K/include/sensors/PelotonData.h
  lib/SS2K/src/sensors/PelotonData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added bowflex c7 arm length
  Hardware/Common Assets/Arm/readme.md
Due: none
