Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Added error handling
  data/status.html
  include/Main.h
  include/Websocket.h
  platformio.ini
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SS2KLog.cpp
  src/Websocket.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Re-enabled the UDP logging
  data/status.html
  src/SS2KLog.cpp
  src/Websocket.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Reworked logging. Implemented Appender Pattern. Added WebSockets Logger
  include/LogAppender.h
  include/Main.h
  include/SS2KLog.h
  include/UdpAppender.h
  include/Websocket.h
  include/WebsocketAppender.h
  platformio.ini
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SS2KLog.cpp
  src/UdpAppender.cpp
  src/UdpLogger.cpp
  src/Websocket.cpp
  src/WebsocketAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

update changelog
  CHANGELOG.md
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated websocket port
  data/status.html
Due: none

Updated licence
  include/LogAppender.h
Due: docker-clang-format, docker-cpplint

added mutex writev. Reduced message buffer size to 4096
  include/SS2KLog.h
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

check udpLogEnabled in UdpAppender
  src/UdpAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed DebugInfo. Removed logging macros. Implemented own log formatter
  include/SS2KLog.h
  src/BLE_Common.cpp
  src/SS2KLog.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

update status.html to use websocket for logging. Removed includedDebugLog from HTTP-Server
  data/status.html
  include/SmartSpin_parameters.h
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increased maintenance loop stack size
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated Banner Images
  Pictures/ss2k_banner.png
  Pictures/ss2k_wiki_banner.png
Due: none

Update README.md
  README.md
Due: none

fixed websocket reconnect bug
  data/status.html
  include/SS2KLog.h
  platformio.ini
  src/SS2KLog.cpp
  src/WebsocketAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added selective notifications
  CHANGELOG.md
  data/bluetoothscanner.html
  include/BLE_Common.h
  include/settings.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Changed logging level on SPIFFS messages
  CHANGELOG.md
  include/settings.h
  platformio.ini
  src/BLE_Client.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

webSocketAppender can handle multiple client.
  data/status.html
  include/WebsocketAppender.h
  src/WebsocketAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update CHANGELOG.md
  CHANGELOG.md
Due: none

WebSocketAppender can handle multiple client. (#324)
  CHANGELOG.md
  data/status.html
  include/WebsocketAppender.h
  src/WebsocketAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed bug in external_control
  CHANGELOG.md
  src/BLE_Common.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated NimBLE
  platformio.ini
Due: none

Workaround to connect HRM first
  include/BLE_Common.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Setup.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Warp Speed - almost ready to test
  .vscode/settings.json
  CHANGELOG.md
  include/BLE_Common.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

increased BEL Comm stack size
  src/BLE_Setup.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

@h2Zero Suggestions
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Setup.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated comments
  src/BLE_Client.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated CPU cores for ble tasks
  src/BLE_Client.cpp
  src/BLE_Setup.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog for release
  CHANGELOG.md
Due: none

increases HTTP server stack size
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added a check for wifi connectivity
  CHANGELOG.md
  include/HTTP_Server_Basic.h
  include/Main.h
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add files via upload
  Pictures/SS2K_follow_zwift.png
Due: none

Added check for AP mode only.
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Small updates to hardware
  CHANGELOG.md
  Hardware/Case Version2/Gears/CAD/SS2K 40T Mod1 Spur Gear.SLDPRT
  Hardware/Case Version2/Gears/CAD/SS2K 40T Mod1 Spur Gear.STEP
  Hardware/Case Version2/Gears/CAD/Spur gear 1M 40T Hex.SLDPRT
  Hardware/Case Version2/Gears/CAD/Spur gear 1M 40T Hex.STEP
  Hardware/Case Version2/Gears/CAD/Spur gear 1M 40T.SLDPRT
  Hardware/Case Version2/Gears/Spur gear 1M 40T Hex.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left.3MF
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.3MF
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing.STEP
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.STEP
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STEP
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Connectors/3.5mmJack.SLDASM
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/~$Body_Drawing.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/~$Body_Drawing_Left.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/~$Body_Drawing_Right.SLDPRT
Due: none

noting but fails :)
  .vscode/extensions.json
  platformio.ini
Due: none

new mount and insert - Revmaster & Startrac
  .vscode/extensions.json
  Hardware/Inserts/Le Mond Revmaster.stl
  Hardware/Inserts/Star Trac 2010.stl
  Hardware/MODS/Direct Mount Mod/Bike Mount/CAD/LeMond Promaster.f3d
  Hardware/MODS/Direct Mount Mod/Bike Mount/LeMond Promaster.stl
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/257341490_309686497794501_8044706802333533932_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/257692339_471179641047132_6647679529000994123_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/258868316_243986774588775_1929228291426772959_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/259313492_315241787087385_651882542709975977_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/261676048_6928923303847735_6218960208191569541_n (1).jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/261676048_6928923303847735_6218960208191569541_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/270647746_495659278598530_319794024257236569_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/271715276_899334027414171_9209979407297314539_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/272138903_289367993186954_1817032916722085885_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/272198244_1332654063851063_3044547294851000663_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/272849360_1012936169320139_2908520262834072954_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/272978652_2101802523316536_1353866263752146204_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/273536177_480227400497626_580893660085728273_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/273752718_268677505408959_7329679807537366636_n.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/cut to fit 1.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/cut to fit 2.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/LeMond Revmaster/cut to fit 3.jpg
Due: none

tested hibernation mode
  data/index.html
  data/settings.html
  include/Main.h
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added light sleep mode
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

light sleep mode. Added BLE Timeout
  include/Main.h
  include/SmartSpin_parameters.h
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add video screenshot for wiki main page
  Pictures/Zwift-Sim-Mode.png
Due: none

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
