Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Include connected devices in BLE scan results
  CHANGELOG.md
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Sole Sb1200
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left_no_Logo.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right_no_Logo.STEP
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right.SLDPRT
Due: none

Update changelog for version 26.1.22
  CHANGELOG.md
Due: none

Create Sole SB1200 Cupsert.stp
  Hardware/Common Assets/Inserts/Sole SB1200 Cupsert.stp
Due: none

logging improvements
  include/BleAppender.h
  src/BleAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed ERG sensitivity not being decimal in app
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Schwinn ACparts
  Hardware/Common Assets/Inserts/Alibre/Schwinn AC Star Knob.AD_PRT
  Hardware/Common Assets/Inserts/Schwinn AC Star Knob.stp
Due: none

Removed initial connection params
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update style.css
  data/style.css
Due: none

Update settings.html
  data/settings.html
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

updated connection params
  include/BLE_Common.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Setup.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add BLE appender and enhance logging for target positions
  dependencies.lock
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.12.25
  CHANGELOG.md
Due: none

Add Zwift custom BLE service and integrate virtual shifting functionality
  include/BLE_Zwift_Service.h
  include/DirConManager.h
  lib/SS2K/include/Constants.h
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
  src/DirConManager.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Controls almost working.
  include/BLE_Zwift_Service.h
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Zwift rxing commands
  include/BLE_Zwift_Service.h
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

eliminated shifting feedback loop
  include/Main.h
  src/BLE_Zwift_Service.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

in progress dev
  include/cert.h
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

in progress
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2022-10-31_214835.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-21_082918.zip
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor service-specific DirCon write handling into service files
  include/BLE_Fitness_Machine_Service.h
  include/BLE_Zwift_Service.h
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Zwift_Service.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance DirCon service registration and write handling; remove deprecated methods
  include/BLE_Fitness_Machine_Service.h
  include/BLE_Zwift_Service.h
  include/DirConManager.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_Zwift_Service.cpp
  src/DirConManager.cpp
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 26.1.31
  CHANGELOG.md
Due: none

Refactor BLE_Zwift_Service to improve session management and logging; remove handshake state handling
  include/BLE_Zwift_Service.h
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

back to Arduino BLE library
  include/BLE_Zwift_Service.h
  include/SS2KLog.h
  include/Zwift_Protocol_Messages.h
  lib/SS2K/src/sensors/endian.c
  platformio.ini
  sdkconfig.release
  sdkconfig.release.old
  src/BLE_Client.cpp
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor BLE_Zwift_Service for improved code readability and consistency; adjust spacing and update service UUID references
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Thread safety and advertisement cleanup
  include/DirConManager.h
  src/BLE_Server.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance BLE_Zwift_Service with new payload handling methods and update command codes for trainer configuration
  include/BLE_Zwift_Service.h
  include/Zwift_Protocol_Messages.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Device_Information_Service.cpp
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

WIP
  include/BLE_Zwift_Service.h
  include/Zwift_Protocol_Messages.h
  src/BLE_Device_Information_Service.cpp
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed some ZP errors
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update BLE_Server.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

wip
  src/BLE_Server.cpp
  src/BLE_Zwift_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated countersink holes
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right.STEP
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right.stp
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right_no_Logo.stp
Due: none

templated a couple functions
  include/DirConManager.h
  include/SS2KLog.h
  include/Zwift_Protocol_Messages.h
  lib/SS2K/src/sensors/endian.c
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated vents
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left.stp
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.AD_PRT
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.stp
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Left.stp
Due: none

Case updates
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left.AD_PRT
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.AD_PRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Left.stp
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right.stp
Due: none

Update CA certificate for raw.githubusercontent.com
  Hardware/Common Assets/Inserts/Alibre/Schwinn AC Star Knob.AD_PRT
  Hardware/Common Assets/Inserts/Schwinn AC Star Knob.stp
  include/cert.h
Due: docker-clang-format, docker-cpplint

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
