Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

operator change
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Give fill some cadence to always work with
  src/Power_Table.cpp
  test/test_table_fill.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

give cadence a chance
  dependencies.lock
  sdkconfig.release
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

attempting to fill all columns and rows.
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added second cadence pass
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

only add readings on first order guesses
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

bugfix
  dependencies.lock
  sdkconfig.release
  sdkconfig.release.old
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Test now creates a power table that you can scroll through time on by using a logfile.
  .gitignore
  include/PowerTable_Helpers.h
  include/Power_Table.h
  include/data_helpers.h
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  test/data/Ride_Log.txt
  test/data_helpers.cpp
  test/test_table_fill.cpp
  test/test_write_PowerTable.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

code cleanup
  test/data_helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

sliders both work in test mode
  test/data_helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Drastic table changes
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  test/data/9077.ptab
  test/data/Ride_Log.txt
  test/test.h
  test/test_debug.cpp
  test/test_pt_lookup_resistance.cpp
  test/test_table_fill.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added timeout to homing. Fixed bug with hmin and hmax not being set over ble
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/BLE_Custom_Characteristic.cpp
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  test/data/Ride_Log2.txt
Due: docker-clang-format, docker-cpplint, docker-piocheck

added fillGaps().
  include/PowerTable_Helpers.h
  src/Main.cpp
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

homing required to save and load tables.
  dependencies.lock
  sdkconfig.release
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added another ride log
  test/data/Ride_Log.txt
  test/data/Ride_Log3.txt
Due: none

always set connected PM, CD and Speed to false when a PM disconnects.
  dependencies.lock
  sdkconfig.release
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Homing communication with client fixed
  include/BLE_Definitions.h
  src/BLE_Fitness_Machine_Service.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

These files didn't change, but it makes me try it...
  lib/ArduinoCompat/include/host/ble_uuid.h
  lib/ArduinoCompat/include/os/endian.h
Due: docker-clang-format, docker-cpplint

Update changelog for version 25.5.31
  CHANGELOG.md
Due: none

removed data_helpers.h
  include/data_helpers.h
Due: docker-clang-format, docker-cpplint

updated changelog
  CHANGELOG.md
Due: none

added license
  CHANGELOG.md
  test/test_table_fill.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed unterminated comment
  CHANGELOG.md
  include/cert.h
Due: docker-clang-format, docker-cpplint

Fixed BLE and WiFI (App) updates
  .actrc
  include/BLE_Common.h
  platformio.ini
  sdkconfig.release.old
  src/BLE_Client.cpp
  src/BLE_Firmware_Update.cpp
  src/BLE_Server.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.7.29
  CHANGELOG.md
Due: none

Updated Changelog
  CHANGELOG.md
Due: none

Improves power table handling and homing
  CHANGELOG.md
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

- Fixed edge cases of pTab4Pwr causing runaways.
  CHANGELOG.md
  dependencies.lock
  include/SmartSpin_parameters.h
  include/settings.h
  sdkconfig.release
  src/BLE_Custom_Characteristic.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.7.30
  CHANGELOG.md
Due: none

Update settings.h
  include/settings.h
Due: docker-clang-format, docker-cpplint

Power without table now 1/2 of cadence.
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

messing around
  dependencies.lock
  include/BLE_ZRide.h
  include/settings.h
  lib/SS2K/include/Constants.h
  sdkconfig.release
  src/BLE_Server.cpp
  src/BLE_ZRide.cpp
  src/DirConManager.cpp
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed MyWoosh Dircon
  CHANGELOG.md
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.8.3
  CHANGELOG.md
Due: none

debounce rework - faster shifting
  dependencies.lock
  include/Main.h
  include/settings.h
  sdkconfig.release
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increased delay.
  include/settings.h
Due: docker-clang-format, docker-cpplint

Switched to state machine
  include/Main.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

refined homing procedure
  include/Main.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
