Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Create ss2k_wiki_banner.png
  Pictures/ss2k_wiki_banner.png
Due: none

Fixed Spelling, Added Faster ERG stepper speed, Implemented minStep in stepper control
  include/settings.h
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added additional wait after powertable lookup
  data/status.html
  include/ERG_Mode.h
  include/settings.h
  src/BLE_Server.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

ERG sign fix in powertable data.
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed "null" in web debug log
  Pictures/ss2k_banner.png
  data/status.html
  src/ERG_Mode.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

enabled firmware updates
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Experiments with shifters. Ready for testing
  Hardware/Changelog.md
  Hardware/MODS/Case V2 - Schwinn IC4 Mod/Changelog.md
  Hardware/MODS/Case V2 - Schwinn IC4 Mod/Changelog.md.BASE.md
  Hardware/MODS/Case V2 - Schwinn IC4 Mod/Changelog.md.LOCAL.md
  Hardware/MODS/Case V2 - Schwinn IC4 Mod/Changelog.md.REMOTE.md
  Hardware/MODS/Shifter_2in1_tactile/CAD/Shifter Cover - 2in1, high tactile v8.f3d
  Hardware/MODS/Shifter_2in1_tactile/CAD/Shifter Cover - 2in1, high tactile v8.step
  Hardware/MODS/Shifter_2in1_tactile/CAD/Shifter Cover - 2in1, high tactile v9.step
  Hardware/MODS/Shifter_2in1_tactile/bridging.png
  Hardware/MODS/Shifter_2in1_tactile/layer_settings.png
  Hardware/MODS/Shifter_2in1_tactile/plated set.3mf
  Hardware/MODS/Shifter_2in1_tactile/readme.md
  Hardware/MODS/Shifter_2in1_tactile/screenshot.png
  Hardware/MODS/Shifter_2in1_tactile/strap.stl
  Hardware/MODS/Shifter_2in1_tactile/strap_close-up.png
  Hardware/MODS/Shifter_2in1_tactile/test_housing.stl
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

shifters cleanup - replacing existing design with 2in1 design with improved tactility
  Hardware/MODS/Shifter_2in1_tactile/CAD/Shifter Cover - 2in1, high tactile v8.f3d
  Hardware/MODS/Shifter_2in1_tactile/CAD/Shifter Cover - 2in1, high tactile v8.step
  Hardware/MODS/Shifter_2in1_tactile/CAD/Shifter Cover - 2in1, high tactile v9.step
  Hardware/MODS/Shifter_2in1_tactile/bridging.png
  Hardware/MODS/Shifter_2in1_tactile/layer_settings.png
  Hardware/MODS/Shifter_2in1_tactile/plated set.3mf
  Hardware/MODS/Shifter_2in1_tactile/readme.md
  Hardware/MODS/Shifter_2in1_tactile/screenshot.png
  Hardware/MODS/Shifter_2in1_tactile/strap.stl
  Hardware/MODS/Shifter_2in1_tactile/strap_close-up.png
  Hardware/MODS/Shifter_2in1_tactile/test_housing.stl
  Hardware/Shifters/CAD/Shifter_Cover v6.f3d
  Hardware/Shifters/CAD/Shifter_Cover v9.f3d
  Hardware/Shifters/README.MD
  Hardware/Shifters/Shifter_Cover v9.stl
Due: none

Refreshed Develop Changelog for new release.
  CHANGELOG.md
Due: none

applied stash
  CHANGELOG.md
  data/settings.html
  include/SmartSpin_parameters.h
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

compiles
  include/SmartSpin_parameters.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Working test of auto_Min_Max
  CHANGELOG.md
  data/settings.html
  include/ERG_Mode.h
  include/Main.h
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Client.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added clarification to bluetooth scanner
  data/bluetoothscanner.html
Due: none

Small bugfixes
  include/Main.h
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Changed Min-Max defaults
  include/settings.h
Due: docker-clang-format, docker-cpplint

updated Changelog
  CHANGELOG.md
Due: none

fix for FTMS Checks
  CHANGELOG.md
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactoring of ERG_Mode.
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Adding info on readme. Adjustments to body STL - easier bridging for nut and retention
  CHANGELOG.md
  Hardware/MODS/Case V2 - Schwinn IC4 Mod/ic4-body-left.stl
  Hardware/MODS/Case V2 - Schwinn IC4 Mod/ic4-body-right.stl
  README.md
Due: none

removed avg calc
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Spelling correction
  README.md
Due: none

readme.md update
  README.md
Due: none

Removed Obsolete comment
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated Changelog.md
  CHANGELOG.md
Due: none

Added confirm dialog by settings reset and file mask for firmware upload
  CHANGELOG.md
  data/settings.html
  include/Builtin_Pages.h
Due: docker-clang-format, docker-cpplint

reformated settings.html
  data/settings.html
Due: none

Show the name of all html files requested
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

possible QZ fix #1
  CHANGELOG.md
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed definition
  include/BLE_Common.h
Due: docker-clang-format, docker-cpplint

moved form submit to click event handler
  data/settings.html
Due: none

removed http request logging for index
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Cadence Control Point
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added FTMS-Log
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Changed Title for cache debugging
  data/settings.html
Due: none

Fixed Cadence and Power notification
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added confirmation overlay
  data/settings.html
  data/style.css
Due: none

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
