Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Always go to 8 after homing.
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor ERG gain calculations and update library dependencies
  platformio.ini
  sdkconfig.release
  sdkconfig.release.old
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed launch.json
  .vscode/launch.json
Due: none

disabled wifi power save
  include/Builtin_Pages.h
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance inactivity detection logic to reboot after 30 minutes without meaningful pedaling
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add firmware image validation for OTA updates and enhance error handling
  AGENTS.md
  include/FirmwareImageValidation.h
  src/BLE_Firmware_Update.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increase BLE reconnect scan interval and default scan duration
  include/settings.h
Due: docker-clang-format, docker-cpplint

Implement case-insensitive BLE device identifier matching and add corresponding tests
  AGENTS.md
  include/BLE_Device_Identity.h
  src/BLE_Client.cpp
  test/test.h
  test/test_adevName2UniqueName.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance BLE advertisement to include current WiFi IPv4 address and update DirCon service handling for settings snapshots
  AGENTS.md
  CustomCharacteristic.md
  include/BLE_Custom_Characteristic.h
  include/DirConManager.h
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refine tooltip text for minimum brake watts and update related comments for clarity
  data/settings.html
  data/settings.html.gz
  data_s3/settings.html
  data_s3/settings.html.gz
  include/settings.h
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Device_Information_Service.cpp
  src/BLE_Firmware_Update.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_OpenBikeControl_Service.cpp
  src/BLE_SB20_Service.cpp
  src/BLE_Wattbike_Service.cpp
  src/BLE_Zwift_Service.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add getIsQuadratic method to ResistanceModel and adjust ERG_LOG_INTERVAL_MS for logging frequency
  include/PowerTable_Helpers.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add utility functions for DIRCON message handling and improve logging in sendResponse
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add TMC2209 OTP hold current programming and verification
  AGENTS.md
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor stepper serial initialization and enhance TMC2209 connection recovery logic
  AGENTS.md
  include/Stepper.h
  src/Main.cpp
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance TMC2209 connection recovery logic with interface counter validation and improve logging for UART test failures
  AGENTS.md
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update BLE connection parameters and enhance DirCon message parsing error handling
  include/BLE_Common.h
  src/BLE_Client.cpp
  src/DirConManager.cpp
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix copyright notice formatting by removing the period from "All rights reserved"
  include/BLE_Device_Identity.h
  include/FirmwareImageValidation.h
Due: docker-clang-format, docker-cpplint

updated github actions and S3 build options.
  .github/workflows/build.yml
  .gitignore
  AGENTS.md
  sdkconfig.S3release
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix minor spelling errors in CHANGELOG.md
  CHANGELOG.md
Due: none

Remove obsolete factory assets from GitHub release workflow and update AGENTS.md for clarity
  .github/workflows/build.yml
  AGENTS.md
Due: none

Update changelog for version 26.8.14
  CHANGELOG.md
Due: none

GitHub Actions now explicitly sets the firmware version to the date-based release version
  .github/workflows/build.yml
  AGENTS.md
  git_tag_macro.py
Due: none

Added new BLE firmware update protocol.
  AGENTS.md
  BLEFirmwareUpdateProtocol.md
  CHANGELOG.md
  include/BLE_Common.h
  include/BLE_Firmware_Update.h
  src/BLE_Firmware_Update.cpp
  src/BLE_Server.cpp
  src/Main.cpp
  test/test.h
  test/test_BLEFirmwareUpdateProtocol.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

- Truncate only the BLE-advertised device name when needed so the SmartSpin2k service UUID remains present in the legacy scan response.
  CHANGELOG.md
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Simplified constant creation
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix ERG latching off when cadence drops below 30
  CHANGELOG.md
  include/ERG_Mode.h
  src/BLE_Fitness_Machine_Service.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor ERG mode behavior to maintain target watts during low cadence and update related logging; adjust minimum cadence threshold.
  AGENTS.md
  CHANGELOG.md
  include/ERG_Mode.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

restore target power after cadence exceeds minimum threshold; track last set point for improved responsiveness.
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance TMC2209 connection recovery and verification; improve logging for operational status and OTP programming.
  AGENTS.md
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update CA certificate and modify build scripts to use Python 3
  include/cert.h
  platformio.ini
Due: docker-clang-format, docker-cpplint

updated changelog
  CHANGELOG.md
Due: none

Update changelog for version 26.8.21
  CHANGELOG.md
Due: none

PT Lookup Complete rework
  .github/workflows/native-tests.yml
  AGENTS.md
  include/PowerTable_Helpers.h
  include/SmartSpin_parameters.h
  include/boards.h
  lib/ArduinoCompat/include/Arduino.h
  lib/SS2K/src/sensors/CyclePowerData.cpp
  platformio.ini
  src/ERG_Mode.cpp
  src/PowerTable_Helpers.cpp
  test/data_helpers.cpp
  test/test_pt_lookup_resistance.cpp
  test/test_pt_lookup_watts.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Peloton releases connectedPM and ConnectedCD
  src/Main.cpp
  test/data/august26Log.txt
Due: docker-clang-format, docker-cpplint, docker-piocheck

Remove obsolete power table data files and add new tests for power table functionality
  test/data/10x5-26-25.ptab
  test/data/9077.ptab
  test/data/Nebula.ptab
  test/data/Nebula3 copy.ptab
  test/data/Nebula3.ptab
  test/data/Ride_Log.txt
  test/data/Ride_Log3.txt
  test/data/Ride_Log4.txt
  test/data/active_ride_log.txt
  test/data/averageMethod.ptab
  test/data/better.ptab
  test/data/broken.ptab
  test/data/converged_nebula3.ptab
  test/data/final_5_25_25.ptab
  test/data/marc_roy.txt
  test/data/power_table.ptab
  test/data/power_table_incomplete.ptab
  test/test_active_ride_table.cpp
  test/test_power_table_csv.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor power table tests for improved clarity and functionality
  AGENTS.md
  include/ERG_Mode.h
  include/ERG_Mode_Utils.h
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/ERG_Mode.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  test/data_helpers.cpp
  test/test.h
  test/test_PowerBuffer.cpp
  test/test_active_ride_table.cpp
  test/test_data_helpers.h
  test/test_erg_log_replay.cpp
  test/test_power_table_csv.cpp
  test/test_pt_lookup_resistance.cpp
  test/test_pt_lookup_watts.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance maintenance loop with logging intervals
  include/cert.h
  include/settings.h
  platformio.ini
  sdkconfig.S3release
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Safer BLE custom char parsing and serial debug
  include/BLE_Common.h
  include/cert.h
  platformio.ini
  sdkconfig.S3debug
  src/BLE_Custom_Characteristic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increased logging frequency. Compacted logs.
  sdkconfig.S3release
  src/Main.cpp
  test/test.h
  test/test_active_ride_table.cpp
  test/test_data_helpers.h
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

unifying to common byte encoders
  AGENTS.md
  include/BLE_Common.h
  include/BLE_Custom_Characteristic.h
  include/BLE_Definitions.h
  include/BLE_Zwift_Service.h
  include/Zwift_Protocol_Messages.h
  lib/SS2K/include/ByteUtils.h
  lib/SS2K/include/CustomCharacteristicProtocol.h
  lib/SS2K/src/sensors/ChronoData.cpp
  lib/SS2K/src/sensors/CscSensorData.cpp
  lib/SS2K/src/sensors/CyclePowerData.cpp
  lib/SS2K/src/sensors/FitnessMachineIndoorBikeData.cpp
  lib/SS2K/src/sensors/FlywheelData.cpp
  lib/SS2K/src/sensors/PelotonData.cpp
  lib/SS2K/src/sensors/endian.c
  lib/SS2K/src/sensors/endian.h
  sdkconfig.release
  src/BLE_Client.cpp
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Zwift_Service.cpp
  src/DirConMessage.cpp
  test/data/active_ride_log.txt
  test/test.h
  test/test_active_ride_table.cpp
  test/test_ble_wire_round_trip.cpp
  test/test_endian.cpp
  test/test_erg_log_replay.cpp
  test/test_pt_lookup_resistance.cpp
  test/test_pt_lookup_watts.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
