Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

added shifting in ERG and resistance modes
  .vscode/settings.json
  CHANGELOG.md
  include/Main.h
  include/SmartSpin_parameters.h
  include/boards.h
  include/settings.h
  platformio.ini
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added limits for resistance recieved from FTMS
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Greater than
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed "none" and "none" scanning
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed html loading delays
  data/bluetoothscanner.html
  data/btsimulator.html
  data/develop.html
  data/hrtowatts.html
  data/index.html
  data/settings.html
  data/shift.html
  data/status.html
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

spelling fix
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Peloton update
  Hardware/Common Assets/Bike Mount/CAD/Peloton.f3d
  Hardware/Common Assets/Bike Mount/Peloton.stl
Due: none

fixed Peloton Tx
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Revert "removed html loading delays"
  data/bluetoothscanner.html
  data/btsimulator.html
  data/develop.html
  data/hrtowatts.html
  data/index.html
  data/settings.html
  data/shift.html
  data/status.html
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added redirect after BLE Device Change
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

changed Peloton max resistance to 98
  include/settings.h
Due: docker-clang-format, docker-cpplint

Fix to stop oscillating on min resistance.
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed greater than sign
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

updated changelog.md
  CHANGELOG.md
Due: none

Calculated Peloton checksums instead of hardcode
  include/Main.h
  lib/SS2K/include/Constants.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleaned up some Peloton Constants
  include/Main.h
  lib/SS2K/include/Constants.h
  lib/SS2K/src/sensors/PelotonData.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Peloton Firehose
  include/Main.h
  include/settings.h
  lib/SS2K/include/Constants.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

rtConfig resistance updated when Peloton Connects
  include/Main.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Create ss2k-boot-button.jpg.jpg
  Pictures/ss2k-boot-button.jpg.jpg
Due: none

Updated BOM and pick n place
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k_Fabrication_Files/SmartSpin2k_BOM.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/assembly/BOM-SmartSpin2k.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/assembly/SmartSpin2k-bottom.pos
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/assembly/SmartSpin2k-top.pos
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/GERBER-SmartSpin2k.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-EdgeCuts.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-VScore.gbr
Due: none

Updated BOM and Pick and place
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-17_180047.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-17_204428.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k.kicad_pcb
Due: none

updated readme.md. cleaned directory
  CHANGELOG.md
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k_Fabrication_Files/SmartSpin2k_BOM.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k_Fabrication_Files/mapping.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k_Fabrication_Files/rotations.csv
Due: none

Generated files using new plugin
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-17_181049.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-17_210029.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/GERBER-SmartSpin2k.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-EdgeCuts.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-VScore.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/production/bom.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/production/designators.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/production/gerber.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/production/netlist.ipc
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/production/positions.csv
Due: none

updated jlcpcb plugin
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/GERBER-SmartSpin2k.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-EdgeCuts.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-VScore.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/production_files/BOM-SmartSpin2k.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/production_files/CPL-SmartSpin2k.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/production_files/GERBER-SmartSpin2k.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/project.db
Due: none

Fixed Component rotations
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-17_182051.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-19_104445.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2023-01-19_115500.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k.kicad_pcb
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/cpl_rotations_db.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-CuTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-EdgeCuts.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-MaskTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-NPTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH-drl_map.pdf
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PTH.drl
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-PasteTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkBottom.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-SilkTop.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/gerber/SmartSpin2k-VScore.gbr
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/production_files/CPL-SmartSpin2k.csv
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/production_files/GERBER-SmartSpin2k.zip
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/project.db
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/jlcpcb/ss2k_Rotations.csv
Due: none

Update to Point to iandhawes GIT
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  Hardware/Common Assets/Inserts/README.md
  Hardware/Common Assets/Shifters/README.MD
  README.md
  data/bluetoothscanner.html
  data/btsimulator.html
  data/develop.html
  data/hrtowatts.html
  data/index.html
  data/settings.html
  data/shift.html
  data/status.html
  data/streamfit.html
  include/settings.h
  lib/SS2K/library.json
Due: docker-clang-format, docker-cpplint

added Shifter Cover v10
  Hardware/V1 - Archive/Shifters/CAD/Shifter_Cover v10 v2.f3d
  Hardware/V1 - Archive/Shifters/Shifter_Cover v10 v2.stl
Due: none

Updated from Develop
  CHANGELOG.md
Due: none

Format LittleFS on Shifter Hold
  CHANGELOG.md
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update settings.h
  include/settings.h
Due: docker-clang-format, docker-cpplint

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
