Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

Peloton direct mount
  Hardware/MODS/Direct Mount Mod/Bike Mount/CAD/Peloton.f3d
  Hardware/MODS/Direct Mount Mod/Bike Mount/Peloton.stl
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220217_082452.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220217_082458.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220217_082517.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220217_082536.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220217_082631.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220217_082705.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220218_084504.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220218_084513.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220218_084520.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220218_084525.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220218_084531.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220218_084537.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_085450.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_085457.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_085503.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_151501.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_151504.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_151508.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_151613.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_151615.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_151620.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220228_151628.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220301_104258.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220301_104306.jpg
  Hardware/MODS/Direct Mount Mod/Bike Mount/reference photos/Peloton/20220301_104314.jpg
Due: none

Delete extensions.json
  .vscode/extensions.json
Due: none

Update .gitignore
  .gitignore
Due: none

Update cert.h
  include/cert.h
Due: docker-clang-format, docker-cpplint

correction
  include/cert.h
Due: docker-clang-format, docker-cpplint

clarified instructions
  CHANGELOG.md
  include/cert.h
Due: docker-clang-format, docker-cpplint

update readme
  CHANGELOG.md
  Hardware/MODS/Direct Mount Mod/Case/body-right.stl
  README.md
Due: none

changes to cable retainer
  CHANGELOG.md
  Hardware/Shifters/CAD/Shifter Cover.f3d
  Hardware/Shifters/CAD/Shifter Cover.step
  Hardware/Shifters/retainer.stl
  Hardware/Shifters/shifter_set.stl
Due: none

almost working. Waiting on upstream library change
  platformio.ini
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated stack
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

initial advertising
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

prelim dircon.cpp and dircon.h
  include/dirconTCP.h
  src/dirconTCP.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

swapped back to arduino 2.0.2
  platformio.ini
Due: none

proto dircon server
  include/Main.h
  include/dirconTCP.h
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/dirconTCP.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

advertising tweaking and testing
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Initial LittleFS implement
  CHANGELOG.md
  CustomCharacteristic.md
  data/list.json
  include/BLE_Common.h
  include/Builtin_Pages.h
  include/ERG_Mode.h
  include/HTTP_Server_Basic.h
  include/SmartSpin_parameters.h
  include/settings.h
  platformio.ini
  src/BLE_Server.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

LittleFS Working
  include/settings.h
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated to latest platformio packages
  platformio.ini
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added LittleFS to platformIO.ini
  platformio.ini
Due: none

LittleFS upgrade tresting
  include/LittleFS_Upgrade.h
  include/Main.h
  src/LittleFS_Upgrade.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Config Upgrade working
  include/LittleFS_Upgrade.h
  src/LittleFS_Upgrade.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

PWC now upgrades
  CHANGELOG.md
  src/LittleFS_Upgrade.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed ftmsPowerRange endiannes
  CHANGELOG.md
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed comment
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated Libraries
  .vscode/settings.json
  CHANGELOG.md
  platformio.ini
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

spelling correction
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Soldering Jig release
  Hardware/MODS/Soldering Jig/CAD/soldering jig v4.f3d
  Hardware/MODS/Soldering Jig/CAD/soldering jig v4.step
  Hardware/MODS/Soldering Jig/Soldering Jig.stl
  Hardware/MODS/Soldering Jig/readme.md
  Pictures/pcb_assembly.jpg.png
  Pictures/solder_jig_assembly.jpg
  Pictures/solder_jig_mounted.jpg
Due: none

Update readme.md
  Hardware/MODS/Soldering Jig/readme.md
Due: none

Added Setting for MinWatts
  .vscode/tasks.json
  CHANGELOG.md
  data/settings.html
  include/SmartSpin_parameters.h
  include/settings.h
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Removed log messages
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Setting for MinWatts (#352)
  .vscode/tasks.json
  CHANGELOG.md
  data/settings.html
  include/SmartSpin_parameters.h
  include/settings.h
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Over Temp Loggin Fix
  CHANGELOG.md
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added check for zero in powertable result.
  CHANGELOG.md
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
