Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Style and size updates
  data/bluetoothscanner.html
  data/btsimulator.html
  data/develop.html
  data/hrtowatts.html
  data/index.html
  data/settings.html
  data/shift.html
  data/status.html
  data/streamfit.html
  data/style.css
Due: none

build settings page with javascript
  data/settings.html
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update readme.md
  Hardware/Common Assets/Arm/readme.md
Due: none

more spline modificiations
  include/Power_Table.h
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

diagonal modification
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

rewrite using spline library
  include/Power_Table.h
  include/spline.h
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

small pug change
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

small calculation changes
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

old code cleanup
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

made btsimulator.html smaller
  data/btsimulator.html
Due: none

Added PowerCorrectionFactor back into WebUI
  data/settings.html
  data/shift.html
Due: none

Dynamically build the status page
  data/status.html
Due: none

pruned style.css, removing unused elements
  data/style.css
Due: none

Cap penalty at 0
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fix for re-connection crash.
  include/BLE_Common.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed merging issues
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

cubic spline takes pointers instead of vectors, and modified fill functions
  include/Power_Table.h
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed Telegram references, enabled ERG Guardrails
  include/HTTP_Server_Basic.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/HTTP_Server_Basic.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

created new targetPosition function
  include/Power_Table.h
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

changed doubles to float, implemented range for extrap, and modified extrap functiosn
  include/Power_Table.h
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added @breif comments
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added PooBoo 616M2
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo/Side.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo/Top.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo_616M2/Arm_Length.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo_616M2/Knob_Profile.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo_616M2/Top.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo_616M2/Top2.jpg
  Hardware/Common Assets/Inserts/PooBoo_616M2.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/PooBoo_616M2.SLDPRT
Due: none

PooBoo 616M2dimension update
  Hardware/Common Assets/Inserts/PooBoo_616M2.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/PooBoo_616M2.SLDPRT
Due: none

Update changelog for version 25.3.13
  CHANGELOG.md
Due: none

added comment
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Root CA certificates are now updated automatically during every build.
  CHANGELOG.md
  cert_updater.py
  include/cert.h
  platformio.ini
Due: docker-clang-format, docker-cpplint

Free update client memory after boot.
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated vTaskDelay() to regular delay() for consistancy.
  src/BLE_Client.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

- Added CSC sensor selection in BLE Scanner html.
  CHANGELOG.md
  data/bluetoothscanner.html
Due: none

instead of waiting for 3 readings, wait 5 seconds before setting 0 for cadence or power.
  lib/SS2K/include/sensors/CscSensorData.h
  lib/SS2K/include/sensors/CyclePowerData.h
  lib/SS2K/src/sensors/CscSensorData.cpp
  lib/SS2K/src/sensors/CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

adjusted BLE connection parameters
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Power should update better on ptab4pwr now.
  src/ERG_Mode.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

build fix
  lib/SS2K/include/sensors/CyclePowerData.h
  lib/SS2K/src/sensors/CscSensorData.cpp
  lib/SS2K/src/sensors/CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Modified ERG Sensitivity
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

shifter position resets to 0 after homing
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

shorter time before registering zero
  include/settings.h
  lib/SS2K/src/sensors/CscSensorData.cpp
  lib/SS2K/src/sensors/CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed depreciated checkDriverTemperature()
  include/Main.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed depreciated SpinBLEAdvertisedDevice::print()
  include/BLE_Common.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed depreciated ErgMode::_writeLogHeader()
  include/BLE_Common.h
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
