Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Updated ERG control logic
  AGENTS.md
  include/ERG_Mode_Utils.h
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/ERG_Mode.cpp
  src/PowerTable_Helpers.cpp
  test/test.h
  test/test_active_ride_table.cpp
  test/test_erg_log_replay.cpp
  test/test_pt_lookup_resistance.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

non-blocking dircon
  AGENTS.md
  include/DirConManager.h
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix Dircon requests.
  include/DirConUUIDCodec.h
  src/DirConMessage.cpp
  test/test.h
  test/test_ble_wire_round_trip.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix serial number buffer size and update MDNS setup logic
  include/cert.h
  sdkconfig.S3release
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated ftms speed estimation
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix classic ESP32 OTA memory use and remove boot updates
  AGENTS.md
  CustomCharacteristic.md
  data/settings.html
  data/settings.html.gz
  data_s3/settings.html
  data_s3/settings.html.gz
  include/HTTP_Server_Basic.h
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Custom_Characteristic.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance filesystem upload handling and stepper initialization safety
  AGENTS.md
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor BLE and HTTP server functionalities; update cert updater script
  .github/workflows/build.yml
  AGENTS.md
  cert_updater.py
  include/BLE_Common.h
  include/HTTP_Server_Basic.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Implement scan result streaming over BLE with fragmentation support
  AGENTS.md
  include/BLE_Custom_Characteristic.h
  lib/SS2K/include/CustomCharacteristicProtocol.h
  lib/SS2K/include/ScanResultProtocol.h
  src/BLE_Client.cpp
  src/BLE_Custom_Characteristic.cpp
  test/test_ble_wire_round_trip.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix Serial number MDNS for MyWoosh
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add position logging during end stop homing process in Stepper
  sdkconfig.S3release
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update settings handling to save omitted checkboxes as false
  data/settings.html
  data/settings.html.gz
  data_s3/settings.html
  data_s3/settings.html.gz
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 26.8.23
  CHANGELOG.md
Due: none

build trust in the table
  AGENTS.md
  include/ERG_Mode.h
  include/ERG_Mode_Utils.h
  include/settings.h
  src/ERG_Mode.cpp
  src/Stepper.cpp
  test/test.h
  test/test_erg_log_replay.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Enhance trusted table seek functionality and confidence scoring
  AGENTS.md
  include/ERG_Mode.h
  include/ERG_Mode_Utils.h
  src/ERG_Mode.cpp
  test/test_erg_log_replay.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixes to address 0 brake watts
  src/Main.cpp
  src/Power_Table.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 26.9.5
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Tooling updates
  .github/workflows/build.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/native-tests.yml
  AGENTS.md
  CHANGELOG.md
  requirements-ci.txt
  sdkconfig.debug
  sdkconfig.defaults
  sdkconfig.release
  sdkconfig.s3.defaults
Due: none

ERG Perfect
  CHANGELOG.md
  data/btsimulator.html
  data/btsimulator.html.gz
  data_s3/btsimulator.html
  data_s3/btsimulator.html.gz
Due: none

Update Build.
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/copilot-setup-steps.yml
  AGENTS.md
  CHANGELOG.md
  README.md
Due: none

Add gear ratios
  RoadSimulation.md
  lib/SS2K/include/RoadSimulation.h
  src/RoadSimulation.cpp
  test/test_road_simulation.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 26.9.12
  CHANGELOG.md
Due: none

Set start gear to 1/3rd of range or gear 8 if unlimited.
  AGENTS.md
  CustomCharacteristic.md
  VirtualGearing.md
  include/Main.h
  lib/SS2K/include/VirtualGearing.h
  src/BLE_Client.cpp
  src/Main.cpp
  src/Stepper.cpp
  src/VirtualGearing.cpp
  test/test_virtual_gearing.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Implemented temperature monitoring on TMC and S3
  AGENTS.md
  include/Main.h
  include/ThermalSafety.h
  include/boards.h
  src/HardwareSafety.cpp
  src/Main.cpp
  src/Stepper.cpp
  test/test.h
  test/test_thermal_safety.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update settings.h
  include/settings.h
Due: docker-clang-format, docker-cpplint

Bugfix
  AGENTS.md
  include/Main.h
  src/HardwareSafety.cpp
  src/Main.cpp
  src/Stepper.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increase space for USB Port
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left.AD_PRT
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left_no_Logo.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.AD_PRT
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.stp
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right_no_Logo.STEP
Due: none

Fix phantom shift aborting homing
  src/Stepper.cpp
  src/VirtualGearing.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Block Unlimited gearing shifts past the travel limits
  .gitignore
  include/Main.h
  src/Main.cpp
  src/VirtualGearing.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 26.9.15
  CHANGELOG.md
Due: none

Restore thermal protection synchronously after homing
  AGENTS.md
  CHANGELOG.md
  src/Stepper.cpp
  test/test_homing_safety.py
Due: docker-clang-format, docker-cpplint, docker-piocheck

FTMS homing and drift compensation
  AGENTS.md
  FtmsStartupHoming.md
  VirtualGearing.md
  include/BLE_Common.h
  include/FtmsCalibration.h
  include/FtmsHoming.h
  include/Main.h
  include/Power_Table.h
  sdkconfig.release
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/Main.cpp
  src/Power_Table.cpp
  src/Stepper.cpp
  src/VirtualGearing.cpp
  test/test.h
  test/test_ble_scan_lifetime.py
  test/test_ftms_homing.cpp
  test/test_ftms_metadata.py
  test/test_ftms_sync_collection.py
  test/test_gearing_integration.py
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add resistance control and enhance homing functionality
  AGENTS.md
  FtmsStartupHoming.md
  VirtualGearing.md
  include/FtmsCalibration.h
  include/FtmsHoming.h
  include/ResistanceControl.h
  src/Stepper.cpp
  src/VirtualGearing.cpp
  test/test_ftms_homing.cpp
  test/test_gearing_integration.py
  test/test_homing_enable.py
  test/test_resistance_control.py
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
