Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

short case tweak
  CHANGELOG.md
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.STL.stl
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STEP
Due: none

adding more chamfer/fillet
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.STL.stl
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STEP
Due: none

Ultra short direct mount for Bowflex C7 and others
  CHANGELOG.md
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/bolt through arm.stl
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/bolt through body_left.stl
  Hardware/MODS/Direct Mount Mod/Arm/Bowflex C7.stl
  Hardware/MODS/Direct Mount Mod/Bike Mount/Bowflex C7.stl
  Hardware/MODS/Direct Mount Mod/Bike Mount/CAD/Bowflex C7.f3d
  Hardware/MODS/Direct Mount Mod/Bike Mount/CAD/Bowflex C7.step
  Hardware/MODS/Direct Mount Mod/Ultra Short Case/CAD/Ultra Short Direct Mount.f3z
  Hardware/MODS/Direct Mount Mod/Ultra Short Case/CAD/Ultra Short Direct Mount.step
  Hardware/MODS/Direct Mount Mod/Ultra Short Case/body left.stl
  Hardware/MODS/Direct Mount Mod/Ultra Short Case/body right.stl
Due: none

Simplified CAD compensation in Powertable
  CHANGELOG.md
  src/BLE_Server.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed several bugs in bluetoothscanner.html
  CHANGELOG.md
  data/bluetoothscanner.html
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added THROTTLE_TEMP to settings.h. Increased temp.
  CHANGELOG.md
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

working test
  include/Main.h
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Compensate PowerTable for Cad on input
  include/ERG_Mode.h
  include/settings.h
  src/BLE_Server.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog
  CHANGELOG.md
Due: none

additional check for powertable entries
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

More descriptive comments
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added checks so min and max are <> current incline
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

more informative debugging
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

cleared up echo back
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added preliminary peloton test code
  include/Main.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

compile testing fix
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

somewhat working
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

beefier arm
  Hardware/MODS/Direct Mount Mod/Arm/_arm hook.stl
  Hardware/MODS/Direct Mount Mod/Arm/schwinn ic4.stl
Due: none

Added Peloton Sensor factory module
  CHANGELOG.md
  include/Main.h
  include/SensorCollector.h
  include/settings.h
  lib/SS2K/include/Constants.h
  lib/SS2K/include/sensors/PelotonData.h
  lib/SS2K/src/sensors/PelotonData.cpp
  lib/SS2K/src/sensors/SensorDataFactory.cpp
  src/BLE_Common.cpp
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

changes to defaults
  CHANGELOG.md
  include/settings.h
Due: docker-clang-format, docker-cpplint

Added check for shifts past limits
  CHANGELOG.md
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed cad nan issue.
  lib/SS2K/src/sensors/PelotonData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Lots of stuff
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left_Bolt_Arm.3MF
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left_Bolt_Arm.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Short case Body_Drawing_Left - bolt mod v1.f3d
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Short case Body_Drawing_Left - bolt mod v1.step
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/bolt_arm.3mf
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/bolt_arm.stl
  Hardware/MODS/Case V2 - Ultra Short Mod/readme.md
  Hardware/MODS/Direct Mount Mod/Arm/CAD/Peloton.f3d
  Hardware/MODS/Direct Mount Mod/Arm/CAD/Peloton.step
  Hardware/MODS/Direct Mount Mod/Arm/CAD/Schwinn IC4.f3d
  Hardware/MODS/Direct Mount Mod/Arm/CAD/Schwinn IC4.step
  Hardware/MODS/Direct Mount Mod/Arm/CAD/_ss2k arm - reference.f3d
  Hardware/MODS/Direct Mount Mod/Arm/CAD/_ss2k arm - reference.step
  Hardware/MODS/Direct Mount Mod/Arm/CAD/echelon connect sport.f3d
  Hardware/MODS/Direct Mount Mod/Arm/Echelon Connect Sport.stl
  Hardware/MODS/Direct Mount Mod/Arm/_arm hook.stl
  Hardware/MODS/Direct Mount Mod/Arm/peloton.stl
  Hardware/MODS/Direct Mount Mod/Arm/schwinn ic4.stl
  Hardware/MODS/Direct Mount Mod/Bike Mount/CAD/Life Fitness IC7.f3d
  Hardware/MODS/Direct Mount Mod/Bike Mount/Life Fitness IC7.stl
  Hardware/MODS/Direct Mount Mod/Short Case/CAD/Short Case Direct Mount.step
Due: none

Delete Peloton_60mm.STL
  Hardware/Inserts/Peloton_60mm.STL
Due: none

short case direct mount
  Hardware/MODS/Direct Mount Mod/Short Case/Body-Right.stl
  Hardware/MODS/Direct Mount Mod/Short Case/body-left.stl
Due: none

fixed empty default in switch statement
  lib/SS2K/src/sensors/PelotonData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Delete Peloton_7_flat v2.stl
  Hardware/Inserts/Peloton_7_flat v2.stl
Due: none

Revert "Delete Peloton_7_flat v2.stl"
  Hardware/Inserts/Peloton_7_flat v2.stl
Due: none

added check for power less than 0
  lib/SS2K/src/sensors/PelotonData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update README.md
  Hardware/README.md
Due: none

Revert "Update CHANGELOG.md"
  CHANGELOG.md
Due: none

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
