Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Update src/BLE_Client.cpp
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed String Comparison
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated size
  Hardware/Common Assets/Inserts/Alibre/Merach.AD_PRT
  Hardware/Common Assets/Inserts/Merach.stp
Due: none

almost building
  components/ArduinoCompat/CMakeLists.txt
  components/SS2K/CMakeLists.txt
  dependencies.lock
  main/CMakeLists.txt
  partitions.csv
  sdkconfig
  sdkconfig.old
  setup_dependencies.sh
Due: none

Update changelog for version 25.11.4
  CHANGELOG.md
Due: none

Moving in the correct direction
  .pre-commit-config.yaml
  components/ArduinoCompat/CMakeLists.txt
  components/ArduinoCompat/include/NimBLELog.h
  components/ArduinoCompat/include/NimBLEUUID.h
  components/ArduinoCompat/include/NimBLEUtils.h
  components/ArduinoCompat/include/host/ble_uuid.h
  components/ArduinoCompat/include/os/endian.h
  components/ArduinoCompat/include/sdkconfig.h
  components/ArduinoCompat/include/task.h
  components/ArduinoCompat/library.json
  components/ArduinoCompat/src/NimBLEUUID.cpp
  components/ArduinoCompat/src/os/endian.c
  components/SS2K/CMakeLists.txt
  components/SS2K/include/Constants.h
  components/SS2K/include/sensors/SensorDataFactory.h
  dependencies.lock
  include/BLE_Common.h
  main/BLE_Client.cpp
  main/BLE_Common.cpp
  main/CMakeLists.txt
  main/idf_component.yml
  sdkconfig
  sdkconfig.defaults
  sdkconfig.old
Due: docker-clang-format, docker-cpplint, docker-piocheck

Supported resistance level updated.
  CHANGELOG.md
  include/SmartSpin_parameters.h
  src/BLE_Client.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Faster response
  src/BLE_Fitness_Machine_Service.cpp
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added fallback to ERG while in resistance mode if we have no position information.
  src/Main.cpp
  src/Power_Table.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

comments and changelog updated.
  CHANGELOG.md
  include/settings.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

tweaked response in Resistance Mode
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.11.19
  CHANGELOG.md
Due: none

Make Zwift happy during spin down by sending "stop pedaling" every 1 second
  CHANGELOG.md
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add power scalers for stepper hold and homing; update driver settings for improved stall detection
  CHANGELOG.md
  include/Main.h
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.11.21
  CHANGELOG.md
Due: none

Cadence needs to be >5 to initiate homing.
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added ftms homing user abort
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Minor text changes
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

divide by 4 for resistance homing
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added test to make sure cadence is detected multiple times before homing because occasionally a sensor detects cadence when there isn't any.
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

require cadence for 2 seconds before homing
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

reduced delay to power down.
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

More homing refinements
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update links card
  data/index.html
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update changelog for version 25.12.11
  CHANGELOG.md
Due: none

added include for websocket appender
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix for Zwift On Android.
  CHANGELOG.md
  data/index.html
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

IC4 reported HR won't override other HRM.
  CHANGELOG.md
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Improved ERG response for homed tables.
  CHANGELOG.md
  include/settings.h
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.12.17
  CHANGELOG.md
Due: none

Minor changes before merge
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated default settings
  include/settings.h
Due: docker-clang-format, docker-cpplint

- Removed >0 watts requirement to compute ERG.
  CHANGELOG.md
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add inactivity timeout config
  data/settings.html
  include/BLE_Custom_Characteristic.h
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Custom_Characteristic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

initial
  include/BLE_KickrBikeService.h
  lib/SS2K/include/Constants.h
  src/BLE_KickrBikeService.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

a little better
  include/BLE_Common.h
  include/BLE_KickrBikeService.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_KickrBikeService.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
