Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Update changelog
  CHANGELOG.md
Due: none

Fix Issue #215 - Linker issue on build
  platformio.ini
Due: none

Update changelog w/fix to Issue 215
  CHANGELOG.md
Due: none

Re-update changelog w/fix to Issue 215
  CHANGELOG.md
Due: none

updated ERG
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added shifterPosition to SmartSpinParameters.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

ERG Mode Logic update
  src/BLE_Common.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Resistance Mode Tweak
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Formatting update
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Changed resistance level to 25 inc 1
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated Resistance Status.
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Broadcast locally shifted resistance changes over FTMS status characteristic
  include/BLE_Common.h
  include/Main.h
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

More updates to new case
  Hardware/Body_Drawing.SLDPRT
  Hardware/Body_Drawing_Left.SLDPRT
  Hardware/Body_Drawing_Left.STL
  Hardware/Body_Drawing_Right.SLDPRT
  Hardware/Body_Drawing_Right.STL
  Hardware/Gears/CAD/Spur gear 1M 40T.SLDPRT
  Hardware/Gears/Spur gear 1M 40T.STL
Due: none

Basic case for custom characteristic
  include/BLE_Common.h
  include/SmartSpin_parameters.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added custom characteristic usage note
  include/SmartSpin_parameters.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

additional notes
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increase log buffer size
  include/SS2KLog.h
Due: docker-clang-format, docker-cpplint

File formatting
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Revert "Improve logging"
  .github/workflows/pre-commit.yml
  CHANGELOG.md
  build_date_macro.py
  data/settings.html
  data/status.html
  data/style.css
  include/BLE_Common.h
  include/HTTP_Server_Basic.h
  include/Main.h
  include/SS2KLog.h
  include/SmartSpin_parameters.h
  include/settings.h
  lib/SS2K/include/sensors/CyclePowerData.h
  lib/SS2K/include/sensors/FitnessMachineIndoorBikeData.h
  lib/SS2K/include/sensors/HeartRateData.h
  lib/SS2K/include/sensors/SensorDataFactory.h
  lib/SS2K/src/sensors/FitnessMachineIndoorBikeData.cpp
  lib/SS2K/src/sensors/SensorDataFactory.cpp
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SS2KLog.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Merge pull request #155 from kadaan/Improve_logging
  .github/workflows/pre-commit.yml
  CHANGELOG.md
  build_date_macro.py
  data/settings.html
  data/status.html
  data/style.css
  include/BLE_Common.h
  include/HTTP_Server_Basic.h
  include/Main.h
  include/SS2KLog.h
  include/SmartSpin_parameters.h
  include/settings.h
  lib/SS2K/include/sensors/CyclePowerData.h
  lib/SS2K/include/sensors/FitnessMachineIndoorBikeData.h
  lib/SS2K/include/sensors/HeartRateData.h
  lib/SS2K/include/sensors/SensorDataFactory.h
  lib/SS2K/src/sensors/FitnessMachineIndoorBikeData.cpp
  lib/SS2K/src/sensors/SensorDataFactory.cpp
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SS2KLog.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Reduce code needed to log characteristic data and message in BLE server
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Formatting
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Replace duplicate log tags with defines Replace multiple method calls in macro with single call
  .vscode/tasks.json
  include/BLE_Common.h
  include/HTTP_Server_Basic.h
  include/Main.h
  include/SS2KLog.h
  include/SmartSpin_parameters.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SS2KLog.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Formatting
  include/BLE_Common.h
  include/SS2KLog.h
  src/BLE_Common.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Change DebugInfo logging back to Debug
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Merge branch 'develop' into FTMS_Server-fillout
  include/BLE_Common.h
  include/SS2KLog.h
  lib/SS2K/src/sensors/CyclePowerData.cpp
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

formatting fix
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

formatting fix
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update Constants.h
  lib/SS2K/include/Constants.h
Due: docker-clang-format, docker-cpplint

Implemented the new logging in FTMS
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Changed Screw Size, added vents
  Hardware/Body_Drawing.SLDPRT
  Hardware/Body_Drawing_Left.SLDPRT
  Hardware/Body_Drawing_Left.STL
  Hardware/Body_Drawing_Right.SLDPRT
  Hardware/Body_Drawing_Right.STL
Due: none

minor updates
  Hardware/Body_Drawing.SLDPRT
  Hardware/Body_Drawing_Left.SLDPRT
  Hardware/Body_Drawing_Left.STL
  Hardware/Body_Drawing_Right.SLDPRT
  Hardware/Body_Drawing_Right.STL
  Hardware/Mounting_Strap.SLDPRT
  Hardware/Mounting_Strap.STL
Due: none

fs.h -> FS.h not sure what happened here
  include/SS2KLog.h
Due: docker-clang-format, docker-cpplint

Custom Characteristic implementation
  include/BLE_Common.h
  include/SS2KLog.h
  include/SmartSpin_parameters.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added BLE_saveToSpiffs
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

change shifter position to long type
  include/SmartSpin_parameters.h
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed Size of return
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
