Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Initial branch upload - incomplete
  CHANGELOG.md
  data/settings.html
  data/shift.html
  data/style.css
  include/Main.h
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Web Shifting Working
  data/index.html
  data/settings.html
  data/shift.html
  data/style.css
  include/settings.h
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Integrated Shifting WebPage and small testing fixes.
  CHANGELOG.md
  data/settings.html
  data/shift.html
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Inserted Licence for pre-commit checks
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Created framework for a power table
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added comments on suggestions for ergPowerTable
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Initialized PowerEntry with 0's
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Removed millis in powerEntry
  include/ERG_Mode.h
Due: docker-clang-format, docker-cpplint

Expanded the PowerTable Class (untested)
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added more iteration to powertable lookup
  include/ERG_Mode.h
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

PowerTable::lookup complete. Not tested.
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

1st Tests.
  data/btsimulator.html
  include/ERG_Mode.h
  include/Main.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Adjusted loop timing and logs for actual testing.
  include/ERG_Mode.h
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Logging...This might actually work...
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

moved isSpinning test earlier in erg
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added comments
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed typo
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed a bug
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added comment
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed bug in newEntry()
  include/ERG_Mode.h
  src/ERG_Mode.cpp
  test/native/test.cpp
  test/native/test.h
  test/native/test_PowerBuffer.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed buffer overflow in PowerTable::toLog()
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleaned up the formatting of the powerTable log.
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed obsolete comments
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed missing semi in test container
  src/ERG_Mode.cpp
  test/native/test_PowerBuffer.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added ArduinoFake for native unit testing
  include/SS2KLog.h
  include/SmartSpin_parameters.h
  platformio.ini
Due: docker-clang-format, docker-cpplint

ERG waits for knob to stop after powertab lookup
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added option to return log in rtConfig.returnJSON
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updates smartspin_parameters.h
  include/SmartSpin_parameters.h
Due: docker-clang-format, docker-cpplint

Fixed erronious logging.
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added additional cadence checks for delta correct
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added task.h to fix unit test compilation error
  lib/ArduinoCompat/include/task.h
  test/native/test_PowerBuffer.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

used rtConfig in status.html
  data/status.html
Due: none

Create ss2k_banner.png
  Pictures/ss2k_banner.png
Due: none

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Adding parameters for auto-home
  include/SmartSpin_parameters.h
  include/settings.h
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog.md
  CHANGELOG.md
Due: none
