Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Update changelog for version 25.8.3
  CHANGELOG.md
Due: none

Fixed many timings
  include/settings.h
  src/DirConManager.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog.md
  CHANGELOG.md
Due: none

updated changelog
  CHANGELOG.md
Due: none

fixed homing logging
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

bugfix for rare crash while scanning
  include/settings.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog.
  CHANGELOG.md
Due: none

Better OTA reliability
  CHANGELOG.md
  src/BLE_Client.cpp
  src/BLE_Firmware_Update.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

increased webserver delay
  include/settings.h
Due: docker-clang-format, docker-cpplint

Update changelog for version 25.8.16
  CHANGELOG.md
Due: none

Update src/HTTP_Server_Basic.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed Echelon connections.
  CHANGELOG.md
  include/BLE_Common.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.8.18
  CHANGELOG.md
Due: none

Echelon connection is working
  include/BLE_Common.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update src/BLE_Client.cpp
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.8.26
  CHANGELOG.md
Due: none

BLE client: Stable unique names for private random addresses
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

chore(ci): skip actions for Dependabot PR #665 [skip actions]
  .github/skip-actions-pr-665.txt
Due: none

Update changelog for version 25.9.8
  CHANGELOG.md
Due: none

added NVS check in addition to config file. This is belt + suspenders, and i don't absolutely love that, but I really want to avoid a potential boot loop if littlefs gets corrupted.
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog.md
  CHANGELOG.md
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

moved ridelog.txt so tests complete
  test/data/Ride_Log.txt
Due: none

Removed 5 minute battery update to test fix for tempo power meter.
  CHANGELOG.md
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Moved battery information to the SpinBLEAdvertisedDevice class.
  CHANGELOG.md
  include/BLE_Common.h
  include/SmartSpin_parameters.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

[actions skip]
  .github/workflows/copilot-setup-steps.yml
Due: none

Stopped reusing BLE clients for better connection reliability.
  CHANGELOG.md
  include/BLE_Common.h
  include/settings.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

better log in scan callback
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
