Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

update logs only every 2s
  CHANGELOG.md
  include/SS2KLog.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

set default connected remote to "none"
  include/settings.h
Due: docker-clang-format, docker-cpplint

FIxed BLE_reconnect and no battery crash
  include/settings.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

continue vs break
  src/BLE_Client.cpp
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Still show a short line when BLE Debug turned off
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed Scanning with "none" selected
  CHANGELOG.md
  data/bluetoothscanner.html
  include/Builtin_Pages.h
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Client.cpp
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

logbert screenshots
  Pictures/custom_logger.png
  Pictures/logbert_landing.png
  Pictures/logbert_output.png
  Pictures/logbert_scanning.png
Due: none

Echelon mount improvement
  CHANGELOG.md
  Hardware/Common Assets/Bike Mount/CAD/Echelon.step
  Hardware/Common Assets/Bike Mount/Echelon Mount.stl
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

V3 photos for wiki
  CHANGELOG.md
  Pictures/DIN_connector.jpg
  Pictures/Peloton_wiring_diagram.png
  Pictures/SS2K_mounting.jpg
  Pictures/bike_mount.jpg
  Pictures/peloton_wiring_photo.png
  Pictures/r3_breakout_cable.png
Due: none

Update README.md
  README.md
Due: none

Fixed OTA Updates
  CHANGELOG.md
  include/SS2KLog.h
  src/BLE_Client.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

moving echelon insert to correct path
  Hardware/Common Assets/Inserts/Echelon_60mm.STL
Due: none

IC4 tweaks
  CHANGELOG.md
  Hardware/Common Assets/Bike Mount/CAD/IC4 Mount.step
  Hardware/Common Assets/Bike Mount/IC4 Mount.stl
Due: none

Changed wire diameter in the window
  CHANGELOG.md
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Window.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Window.STEP
  Hardware/V3 - Integrated PCB/Case/Case/Window.STL
Due: none

Adding the arm length table for various bikes
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/README.md
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Window.SLDPRT
  Hardware/V3 - Integrated PCB/Case/README.md
  Hardware/V3 - Integrated PCB/PCB/readme.md
Due: none

updated arms
  Hardware/Common Assets/Arm/CAD/230808-0840-SS2K_Arm.json
  Hardware/Common Assets/Arm/CAD/SS2K_Arm.json
  Hardware/Common Assets/Arm/CAD/SS2K_Arm.scad
  Hardware/Common Assets/Arm/armWithHook100.STL
  Hardware/Common Assets/Arm/armWithHook105.STL
  Hardware/Common Assets/Arm/armWithHook110.STL
  Hardware/Common Assets/Arm/armWithHook115.STL
  Hardware/Common Assets/Arm/armWithHook120.STL
  Hardware/Common Assets/Arm/armWithHook125.STL
  Hardware/Common Assets/Arm/armWithHook130.STL
  Hardware/Common Assets/Arm/armWithHook135.STL
  Hardware/Common Assets/Arm/armWithHook140.STL
  Hardware/Common Assets/Arm/armWithHook145.STL
  Hardware/Common Assets/Arm/armWithHook150.STL
  Hardware/Common Assets/Arm/armWithHook155.STL
  Hardware/Common Assets/Arm/armWithHook20.STL
  Hardware/Common Assets/Arm/armWithHook25.STL
  Hardware/Common Assets/Arm/armWithHook30.STL
  Hardware/Common Assets/Arm/armWithHook35.STL
  Hardware/Common Assets/Arm/armWithHook40.STL
  Hardware/Common Assets/Arm/armWithHook45.STL
  Hardware/Common Assets/Arm/armWithHook50.STL
  Hardware/Common Assets/Arm/armWithHook55.STL
  Hardware/Common Assets/Arm/armWithHook60.STL
  Hardware/Common Assets/Arm/armWithHook65.STL
  Hardware/Common Assets/Arm/armWithHook70.STL
  Hardware/Common Assets/Arm/armWithHook75.STL
  Hardware/Common Assets/Arm/armWithHook80.STL
  Hardware/Common Assets/Arm/armWithHook85.STL
  Hardware/Common Assets/Arm/armWithHook90.STL
  Hardware/Common Assets/Arm/armWithHook95.STL
Due: none

ic4 mount beefed up
  Hardware/Common Assets/Bike Mount/CAD/IC4 Mount.step
  Hardware/Common Assets/Bike Mount/IC4 Mount.stl
Due: none

Updated Library
  CHANGELOG.md
  platformio.ini
Due: none

Final adjustments for IC4
  Hardware/Common Assets/Bike Mount/CAD/IC4 Mount.step
  Hardware/Common Assets/Bike Mount/IC4 Mount.stl
Due: none

updated communications data picture
  CHANGELOG.md
  Pictures/Communications_Overview.png
  Pictures/Communications_Overview.xcf
Due: none

updated kit links
  CHANGELOG.md
  README.md
Due: none

initial commit
  include/Builtin_Pages.h
  include/HTTP_Server_Basic.h
  include/LittleFS_Upgrade.h
  include/Main.h
  platformio.ini
  src/HTTP_Server_Basic.cpp
  src/LittleFS_Upgrade.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Pooboo and York SB300 Bikes.
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/PooBoo.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/PooBoo.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/York SB300.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/York SB300.SLDPRT
  Hardware/Common Assets/Inserts/York SB300.STL
Due: none

Increased size of the arm hardware holes by .25mm.
  CHANGELOG.md
  Hardware/Common Assets/Arm/CAD/230808-0840-SS2K_Arm.json
  Hardware/Common Assets/Arm/CAD/SS2K_Arm.json
  Hardware/Common Assets/Arm/CAD/SS2K_Arm.scad
  Hardware/Common Assets/Arm/CAD/readme.txt
  Hardware/Common Assets/Arm/armWithHook100.STL
  Hardware/Common Assets/Arm/armWithHook105.STL
  Hardware/Common Assets/Arm/armWithHook110.STL
  Hardware/Common Assets/Arm/armWithHook115.STL
  Hardware/Common Assets/Arm/armWithHook120.STL
  Hardware/Common Assets/Arm/armWithHook125.STL
  Hardware/Common Assets/Arm/armWithHook130.STL
  Hardware/Common Assets/Arm/armWithHook135.STL
  Hardware/Common Assets/Arm/armWithHook140.STL
  Hardware/Common Assets/Arm/armWithHook145.STL
  Hardware/Common Assets/Arm/armWithHook150.STL
  Hardware/Common Assets/Arm/armWithHook155.STL
  Hardware/Common Assets/Arm/armWithHook20.STL
  Hardware/Common Assets/Arm/armWithHook25.STL
  Hardware/Common Assets/Arm/armWithHook30.STL
  Hardware/Common Assets/Arm/armWithHook35.STL
  Hardware/Common Assets/Arm/armWithHook40.STL
  Hardware/Common Assets/Arm/armWithHook45.STL
  Hardware/Common Assets/Arm/armWithHook50.STL
  Hardware/Common Assets/Arm/armWithHook55.STL
  Hardware/Common Assets/Arm/armWithHook60.STL
  Hardware/Common Assets/Arm/armWithHook65.STL
  Hardware/Common Assets/Arm/armWithHook70.STL
  Hardware/Common Assets/Arm/armWithHook75.STL
  Hardware/Common Assets/Arm/armWithHook80.STL
  Hardware/Common Assets/Arm/armWithHook85.STL
  Hardware/Common Assets/Arm/armWithHook90.STL
  Hardware/Common Assets/Arm/armWithHook95.STL
  Hardware/V3 - Integrated PCB/Case/Case/Body_Left.STL
  Hardware/V3 - Integrated PCB/Case/Case/Body_Right.STL
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.STEP
Due: none

MIN_ERG_CADENCE created and changed from 20 to 30.
  CHANGELOG.md
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Switch Pictures
  Pictures/SS2K_Control.png
  Pictures/Tablet_Control.png
Due: none

updated pictures
  Pictures/SS2K_Control.png
  Pictures/Tablet_Control.png
Due: none

Create Install_Still.png
  Pictures/Install_Still.png
Due: none

Update Install_Still.png
  Pictures/Install_Still.png
Due: none

Added Spinning L7 Bike
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Solidworks_Designs/SpinningL7.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/SpinningL7.SLDPRT
  Hardware/Common Assets/Inserts/SpinningL7.STL
Due: none

Added Design Reference Photos
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo/Side.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/PooBoo/Top.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Overview.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Side 1.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Side 2.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Side 3.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Top 1.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Top 2.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Top 3.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Spinning_L7/Top 4.HEIC
  Hardware/Common Assets/Inserts/Design_Reference_Photos/YORK_SB300/Side.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/YORK_SB300/Top.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Yosuda_PRO/Side.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Yosuda_PRO/Top.jpg
  Hardware/Common Assets/Inserts/Solidworks_Designs/YOSUDA_PRO.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/YOSUDA_PRO.SLDPRT
Due: none

Update readme.md
  Hardware/Common Assets/Arm/readme.md
Due: none

Added a custom integrated implementation of WifiManager.
  CHANGELOG.md
  data/bluetoothscanner.html
  data/btsimulator.html
  data/develop.html
  data/hrtowatts.html
  data/index.html
  data/list.json
  data/settings.html
  data/shift.html
  data/status.html
  data/streamfit.html
  data/style.css
  include/BLE_Common.h
  include/Builtin_Pages.h
  include/HTTP_Server_Basic.h
  include/WebsocketAppender.h
  include/settings.h
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SensorCollector.cpp
  src/WebsocketAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

dns fix
  CHANGELOG.md
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
