Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Fixed returns above POWERTABLE_SIZE
  CHANGELOG.md
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated OTA .html files source to master branch
  include/settings.h
Due: docker-clang-format, docker-cpplint

Update README.md
  README.md
Due: none

Linux Compile Fixes
  src/HTTP_Server_Basic.cpp
  src/LittleFS_Upgrade.cpp
  src/UdpAppender.cpp
  src/dirconTCP.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Case sensitive compiler fixes
  CHANGELOG.md
  src/LittleFS_Upgrade.cpp
  src/UdpAppender.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added build script
  .github/workflows/build.yml
  CHANGELOG.md
Due: none

Updated docker platformio version
  .github/workflows/build.yml
Due: none

Added tag fetch
  git_tag_macro.py
Due: none

Git fetch fix
  git_tag_macro.py
Due: none

Return last tag if run on push
  git_tag_macro.py
Due: none

Docker tag fix
  git_tag_macro.py
Due: none

Unshallow fix
  git_tag_macro.py
Due: none

Added dependabot.yml
  .github/dependabot.yml
  CHANGELOG.md
  platformio.ini
Due: none

Fixed case in platformio.ini
  .github/workflows/build.yml.old
  .github/workflows/pre-commit.yml
  platformio.ini
Due: none

precommit changes
  .github/workflows/pre-commit.yml
Due: none

Indent Fix
  .github/workflows/pre-commit.yml
Due: none

Removed extra docker call
  .github/workflows/pre-commit.yml
Due: none

Corrected archive path
  .github/workflows/pre-commit.yml
Due: none

Fixed Upload Path
  .github/workflows/pre-commit.yml
Due: none

fixed path
  .github/workflows/pre-commit.yml
Due: none

fixed tag name
  .github/workflows/pre-commit.yml
Due: none

Reordered and changed .zip name
  .github/workflows/pre-commit.yml
Due: none

switched out of testing mode
  .github/dependabot.yml
  .github/workflows/build.yml.old
  .github/workflows/pre-commit.yml
  CHANGELOG.md
Due: none

updated .yml's for release
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  CHANGELOG.md
Due: none

updated tag in changelog automation
  .github/workflows/build.yml
Due: none

Added StreamFit
  CHANGELOG.md
  data/btsimulator.html
  data/streamfit.html
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated streamfit references
  data/list.json
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

html tweaks
  CHANGELOG.md
  data/develop.html
  data/index.html
  data/list.json
  data/streamfit.html
  include/settings.h
Due: docker-clang-format, docker-cpplint

added develop.html to handlers
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

re-added bluetooth scanner
  data/index.html
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

minor case adjustments
  Hardware/MODS/Direct Mount Mod/Case/CAD/Direct Mount Mod v6.f3z
  Hardware/MODS/Direct Mount Mod/Case/Direct Mount Mod v6.step
  Hardware/MODS/Direct Mount Mod/Case/body-left.stl
  Hardware/MODS/Direct Mount Mod/Case/body-right.stl
Due: none

reverted ERG change
  CHANGELOG.md
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

automatic board revision detection
  CHANGELOG.md
  include/Main.h
  include/boards.h
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

spelling correction
  include/settings.h
Due: docker-clang-format, docker-cpplint

fixed indentation
  include/boards.h
Due: docker-clang-format, docker-cpplint
