Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Add change log entry
  CHANGELOG.md
Due: none

Fix Typo
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Sub_SHift_Scale #define
  include/settings.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog
  CHANGELOG.md
Due: none

Adding unit tests for CyclePowerData
  src/sensors/CyclePowerData.cpp
  test/CyclePowerData/test_CyclePowerData.cpp
  test/FitnessMachineIndoorBikeData/test_FitnessMachineIndoorBikeData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updating changelog
  CHANGELOG.md
Due: none

Fixing broken cadence on crackRev uint16 rollover
  src/sensors/CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Using Kolban's xQueue method
  .vscode/settings.json
  include/BLE_Common.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update HTTP_Server_Basic.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added webhook for simulated cadence.
  CHANGELOG.md
  data/btsimulator.html
  include/SmartSpin_parameters.h
  src/BLE_Common.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed commented out code
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Found unused define and used it.
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

autoformat
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

First pass at native testing
  .pre-commit-config.yaml
  .vscode/settings.json
  CHANGELOG.md
  CPPLINT.cfg
  include/BLE_Common.h
  include/Version_Converter.h
  lib/ArduinoCompat/include/NimBLELog.h
  lib/ArduinoCompat/include/NimBLEUUID.h
  lib/ArduinoCompat/include/NimBLEUtils.h
  lib/ArduinoCompat/include/host/ble_uuid.h
  lib/ArduinoCompat/include/os/endian.h
  lib/ArduinoCompat/include/sdkconfig.h
  lib/ArduinoCompat/library.json
  lib/ArduinoCompat/src/NimBLEUUID.cpp
  lib/ArduinoCompat/src/os/endian.c
  lib/SS2K/include/Constants.h
  lib/SS2K/include/Data.h
  lib/SS2K/include/sensors/CyclePowerData.h
  lib/SS2K/include/sensors/EchelonData.h
  lib/SS2K/include/sensors/FitnessMachineIndoorBikeData.h
  lib/SS2K/include/sensors/FlywheelData.h
  lib/SS2K/include/sensors/HeartRateData.h
  lib/SS2K/include/sensors/SensorData.h
  lib/SS2K/include/sensors/SensorDataFactory.h
  lib/SS2K/library.json
  lib/SS2K/src/sensors/CyclePowerData.cpp
  lib/SS2K/src/sensors/EchelonData.cpp
  lib/SS2K/src/sensors/FitnessMachineIndoorBikeData.cpp
  lib/SS2K/src/sensors/FlywheelData.cpp
  lib/SS2K/src/sensors/HeartRateData.cpp
  lib/SS2K/src/sensors/SensorData.cpp
  lib/SS2K/src/sensors/SensorDataFactory.cpp
  platformio.ini
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Server.cpp
  test/native/test_FitnessMachineIndoorBikeData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add missing include
  lib/ArduinoCompat/include/sdkconfig.h
Due: docker-clang-format, docker-cpplint

Switch to container which supports native
  .pre-commit-config.yaml
Due: none

Build on pre-commit on github, but not locally
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Update library.json
  lib/ArduinoCompat/library.json
Due: none

Move NimBLEUUIDs to lib/SS2K/Constants.h
  include/BLE_Common.h
  lib/SS2K/include/Constants.h
  platformio.ini
Due: docker-clang-format, docker-cpplint

Fix extension list for the pio pre-commit check
  .pre-commit-config.yaml
Due: none

Fixing uint16 wrap/overflow calcs
  src/sensors/CyclePowerData.cpp
  test/CyclePowerData/test_CyclePowerData.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

WIP: Pass struct through queue to communicate both pointer and length of data. Cleanup on errors and when done with data. Use smart pointers.
  include/BLE_Common.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added XL (Extra Long) Mounting strap for Echelon.
  CHANGELOG.md
  Hardware/Mounting_StrapV2_XL.STL
  Hardware/Solidworks Files/Mounting_StrapV2_XL.SLDPRT
Due: none

Update README.md
  README.md
Due: none

Swapping for async web server
  platformio.ini
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Adding redirect
  include/SmartSpin_parameters.h
  src/HTTP_Server_Basic.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Reduce debug buffer size
  include/SS2KLog.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix merge error
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Switch back to StaticJsonDocument
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add files via upload
  Pictures/NonPCB Build Guide.png
  Pictures/PCB Build.png
Due: none

Add files via upload
  Pictures/Shift Wiring.png
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Going to get this right
  Pictures/Shift_Wiring.png
Due: none

Power Correction Factor slider now updates correctly
  CHANGELOG.md
  data/bluetoothscanner.html
Due: none

Add files via upload
  Pictures/ShifterAssemble.png
  Pictures/StepperCable.png
Due: none
