Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

enabled refresh
  data/settings.html
Due: none

added css to upload extensions
  include/Builtin_Pages.h
Due: docker-clang-format, docker-cpplint

update changelog
  CHANGELOG.md
Due: none

added css for reset buttons
  data/style.css
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Delete Body_Drawing_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.STL
Due: none

UI changes (#295)
  CHANGELOG.md
  data/settings.html
  data/style.css
  include/Builtin_Pages.h
Due: docker-clang-format, docker-cpplint

Removed secondary indicate when a shift was preformed with the BLE custom characteristic. (#300)
  CHANGELOG.md
  include/BLE_Common.h
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Changed wire shield so plug connectors fit better easier.
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Left.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.STEP
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STEP
Due: none

Moved wire guard .3 higher
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left.3MF
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.3MF
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Left.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.STEP
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STEP
Due: none

Added Diadora Insert
  Hardware/Inserts/Design_Reference_Photos/Diadora/Side.jpg
  Hardware/Inserts/Design_Reference_Photos/Diadora/Smallest.jpg
  Hardware/Inserts/Design_Reference_Photos/Diadora/Top.jpg
  Hardware/Inserts/Design_Reference_Photos/Diadora/head_tube.jpg
  Hardware/Inserts/Diadora_59mm.3MF
  Hardware/Inserts/Solidworks_Designs/Diadora_59mm.SLDPRT
  Hardware/Inserts/Solidworks_Designs/Diadora_59mm.STEP
Due: none

Updated default stepper power
  CHANGELOG.md
  Hardware/Case Version2/MountingStrap/CAD/Mounting_Strap_Short.SLDPRT
  Hardware/Case Version2/MountingStrap/CAD/Mounting_Strap_Short.STEP
  Hardware/Case Version2/MountingStrap/Mounting_Strap_Short.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left.3MF
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.3MF
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.STEP
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STEP
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/~$Body_Drawing.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/~$Body_Drawing_Left.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/~$Body_Drawing_Right.SLDPRT
  include/settings.h
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated HMC and proform knobs.
  Hardware/Inserts/HMC.STL
  Hardware/Inserts/HMC_For_Large_Cup.STL
  Hardware/Inserts/Proform_49.5mm.STL
  Hardware/Inserts/Solidworks_Designs/HMC_For _V2_Cup.SLDPRT
  Hardware/Inserts/Solidworks_Designs/HMC_For_Large_Cup.SLDPRT
  Hardware/Inserts/Solidworks_Designs/Proform_49.5mm.SLDPRT
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Left.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/Body_Drawing_Right.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Left.STL
  Hardware/MODS/Case V2 - Ultra Short Mod/Case/CAD/Body_Drawing_Right.STL
Due: none

Added more enums
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Revised shifters, improved printing instructions
  CHANGELOG.md
  Hardware/Archive/Shifters/CAD/Shifter_Cover v6.f3d
  Hardware/Archive/Shifters/CAD/Shifter_Cover v9.f3d
  Hardware/Archive/Shifters/README.MD
  Hardware/Archive/Shifters/Shifter_Cover v9.stl
  Hardware/Shifters/CAD/Shifter Cover.f3d
  Hardware/Shifters/CAD/Shifter Cover.step
  Hardware/Shifters/Plug.stl
  Hardware/Shifters/README.MD
  Hardware/Shifters/layer_settings.png
  Hardware/Shifters/plated set.3mf
  Hardware/Shifters/retainer.stl
  Hardware/Shifters/shifter_set.stl
  Hardware/Shifters/strap.stl
Due: none

correction on readme
  Hardware/Shifters/README.MD
Due: none

last edit
  Hardware/Shifters/README.MD
Due: none

Add files via upload
  Pictures/wifi_setup.png
Due: none

Add files via upload
  Pictures/configuration_page.png
  Pictures/shifter_direction.png
  Pictures/stepper_direction.png
  Pictures/web_shifter.png
Due: none

Update readme.md
  Hardware/MODS/Case V2 - Schwinn IC4 Mod/readme.md
Due: none

Main and HttpServer Refactor
  CHANGELOG.md
  include/HTTP_Server_Basic.h
  include/Main.h
  include/settings.h
  src/BLE_Server.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Debugging session changes
  .vscode/settings.json
  CHANGELOG.md
  include/BLE_Common.h
  src/BLE_Common.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Additional logging to the custom characteristic.
  CHANGELOG.md
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added simulateWatts to ERG mode test
  CHANGELOG.md
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

update btsimulator to auto update cad + watts
  data/btsimulator.html
Due: none

fixed bool logging output.
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added infinate loop protection in ERG return
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added option to disable udp log
  data/settings.html
  include/SmartSpin_parameters.h
  src/HTTP_Server_Basic.cpp
  src/SS2KLog.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

auto UDP logging disable when HTTP is logging.
  CHANGELOG.md
  include/Main.h
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Upated UDP logging info in HTML
  data/status.html
  include/Main.h
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog.md
  CHANGELOG.md
Due: none

Added wiki link when UDP logging is enabled.
  data/status.html
Due: none

Added Wiki links to most pages
  data/bluetoothscanner.html
  data/hrtowatts.html
  data/index.html
  data/settings.html
Due: none

update changelog.md
  CHANGELOG.md
Due: none

Updated Changelog.md again
  CHANGELOG.md
Due: none

minimum packet delay to 325ms and max to 700ms.
  CHANGELOG.md
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
