Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Update changelog for version 25.9.17
  CHANGELOG.md
Due: none

More stable connect/reconnect
  include/BLE_Common.h
  include/SensorCollector.h
  lib/SS2K/include/sensors/SensorDataFactory.h
  lib/SS2K/src/sensors/SensorDataFactory.cpp
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/Main.cpp
  src/SensorCollector.cpp
  test/test_adevName2UniqueName.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update platformio.ini
  platformio.ini
Due: none

onDisconnect working
  .gitignore
  dependencies.lock
  sdkconfig.release
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleaned up pelotonIsConnected flag usage
  include/Main.h
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fix exchange mtu bug.
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleanup unused function, tested resistance mode.
  include/BLE_Common.h
  include/ERG_Mode.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

faster BLE connections
  include/BLE_Common.h
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added the timeout check back because there are still some disconnects not being recognized by nimble.
  include/BLE_Common.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed double definition
  include/settings.h
Due: docker-clang-format, docker-cpplint

removed client checking for "rebooting due to inactivity."
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

automatic reboot fixes. Improved scan reliability.
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update src/BLE_Common.cpp
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update src/BLE_Client.cpp
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed incline mode handling negative numbers.
  CHANGELOG.md
  platformio.ini
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.9.30
  CHANGELOG.md
Due: none

BLE advertisement data reworked and optimized.
  CHANGELOG.md
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

typo fix
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Resolved merge conflicts
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed Rouvy Connection 25-10-18 caused.
  CHANGELOG.md
  include/BLE_Common.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.10.19
  CHANGELOG.md
Due: none

attempt at rouvy dircon
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

discovery response
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Merach bike
  CHANGELOG.md
  Hardware/Common Assets/Inserts/Alibre/Blank_Insert.AD_PRT
  Hardware/Common Assets/Inserts/Alibre/Merach.AD_PRT
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Merach/Side.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Merach/Top.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Merach/readme.md.txt
Due: none

Update Merach.AD_PRT
  Hardware/Common Assets/Inserts/Alibre/Merach.AD_PRT
Due: none

Testing
  include/settings.h
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Merach Small for testing
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Merach/readme.md.txt
  Hardware/Common Assets/Inserts/Merach.stp
  Hardware/Common Assets/Inserts/Merach_small.stp
Due: none

Fixed Rouvy Dircon
  CHANGELOG.md
Due: none

Logging fixes and data length fixes
  include/DirConMessage.h
  include/settings.h
  src/DirConManager.cpp
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Connecting to Rouvy
  include/DirConMessage.h
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

set logging back to normal.
  CHANGELOG.md
  include/settings.h
Due: docker-clang-format, docker-cpplint

Update src/DirConMessage.cpp
  src/DirConMessage.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated build scripts
  .github/skip-actions-pr-665.txt
  .github/workflows/build.yml
  .github/workflows/update_ota_repo.yml
  CHANGELOG.md
Due: none

Update changelog for version 25.11.3
  CHANGELOG.md
Due: none

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
