Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix formatting
  src/BLE_Common.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added single sided rigid mounting strap
  Hardware/Mounting_Strap_Rigid.STL
  Hardware/Solidworks Files/Mounting_Strap_Rigid.SLDPRT
Due: none

Switch to new log method
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix formatting Fix calls to pio docker container
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed missing strap loops on non-pcb case.
  CHANGELOG.md
  Hardware/Bottom_Case.stl
Due: none

Fixed Rigid Mounting strap width
  CHANGELOG.md
  Hardware/Mounting_Strap_Rigid.STL
  Hardware/Solidworks Files/Mounting_Strap_Rigid.SLDPRT
Due: none

Updated Shifter Cover to V9
  CHANGELOG.md
  Hardware/F3D Files/Shifter_Cover v9.f3d
  Hardware/Shifter_Cover v7.stl
  Hardware/Shifter_Cover v9.stl
Due: none

Added mounts, reorganized hardware files.
  CHANGELOG.md
  Hardware/Cases/Bottom_Case.stl
  Hardware/Cases/Bottom_Case_PCB.stl
  Hardware/Covers/Tall_Cover.stl
  Hardware/Covers/Tall_Cover_w_brace.stl
  Hardware/F3D Files/Bottom.dxf
  Hardware/F3D Files/Case_Revision 1 v54.dwg
  Hardware/Gears/CAD/Spur gear 1M 11T.SLDPRT
  Hardware/Gears/CAD/Spur gear 1M 30T.SLDPRT
  Hardware/Gears/Spur gear 1M 11T.STL
  Hardware/Gears/Spur gear 1M 30T.STL
  Hardware/KnobCups/CAD/Knob_Cup_Large.SLDPRT
  Hardware/KnobCups/Knob_Cup_V2.STL
  Hardware/Mounts/BakerEchelonStrap.stl
  Hardware/Mounts/CAD/Flywheel_Brand_Mounting_Strap.SLDPRT
  Hardware/Mounts/CAD/LoganRetentionClip.SLDPRT
  Hardware/Mounts/CAD/Mounting_StrapV2.SLDPRT
  Hardware/Mounts/CAD/Mounting_StrapV2_XL.SLDPRT
  Hardware/Mounts/CAD/Mounting_Strap_Rigid.SLDPRT
  Hardware/Mounts/CAD/PositiveRetentionClip.SLDPRT
  Hardware/Mounts/Flywheel_Brand_Mounting_Strap.STL
  Hardware/Mounts/LoganRetentionClip.STL
  Hardware/Mounts/Mounting_StrapV2.STL
  Hardware/Mounts/Mounting_StrapV2_XL.STL
  Hardware/Mounts/Mounting_Strap_Rigid.STL
  Hardware/Mounts/PositiveRetentionClip.STL
  Hardware/Mounts/README.md
  Hardware/Shifters/CAD/Shifter_Cover v6.f3d
  Hardware/Shifters/CAD/Shifter_Cover v9.f3d
  Hardware/Shifters/Shifter_Cover v9.stl
  Hardware/Solidworks Files/Bottom_Case.SLDPRT
  Hardware/StepperCrossbars/Stepper Crossbar.stl
Due: none

Removed .dwg & .dxf files.
  Hardware/F3D Files/Bottom.dxf
  Hardware/F3D Files/Case_Revision 1 v54.dwg
Due: none

Shortened NTP timeout to 10 seconds
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Picky formatting :)
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added more readme.md's
  CHANGELOG.md
  Hardware/Cases/README.md
  Hardware/Covers/README.md
  Hardware/Inserts/README.md
  Hardware/KnobCups/README.md
  Hardware/PCB/README.md
  Hardware/README.md
  README.md
  data/hrtowatts.html
  include/README
  include/Version_Converter.h
Due: docker-clang-format, docker-cpplint

Updated Spacing
  Hardware/Mounts/CAD/PositiveRetentionClip.SLDPRT
  Hardware/Mounts/PositiveRetentionClip.STL
Due: none

Create firmware checklist
  firmware checklist
Due: none

Update firmware checklist
  firmware checklist
Due: none

Fix Offline Manual Updates
  CHANGELOG.md
  data/jquery.js.gz
  include/Builtin_Pages.h
  src/HTTP_Server_Basic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added inc/dec slider buttons. PCF min now .5
  CHANGELOG.md
  data/bluetoothscanner.html
  data/settings.html
Due: none

Fixed Loading Functions
  data/bluetoothscanner.html
  data/settings.html
Due: none

Updated Font Size
  data/bluetoothscanner.html
Due: none

Missing Semi
  data/bluetoothscanner.html
Due: none

Lots of Spacing Changes
  data/bluetoothscanner.html
  data/settings.html
  data/style.css
Due: none

Spacing Adjustments
  data/bluetoothscanner.html
  data/style.css
Due: none

Adjusted Revmaster insert inner diameter
  CHANGELOG.md
  Hardware/Inserts/Revmaster_Spin_For_Large_Cup.STL
  Hardware/Inserts/Solidworks_Designs/Revmaster_Spin_For_Large_Cup.SLDPRT
Due: none

updated name of revmaster spin insert
  Hardware/Inserts/Revmaster_Spin.STL
  Hardware/Inserts/Revmaster_Spin_For_Large_Cup.STL
  Hardware/Inserts/Solidworks_Designs/Revmaster_Spin.SLDPRT
Due: none

Finish merging changes to develop
  lib/SS2K/include/sensors/SensorDataFactory.h
  src/BLE_Common.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add indoor bike data logging
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increase log buffer size
  src/SS2KLog.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Moved Vin to the correct side on the ESP32 connection diagram.
  CHANGELOG.md
  Pictures/SmartBike2k_Esp32_Connections.png
  Pictures/SmartSpin2k_Esp32_Connections.jpg
  README.md
Due: none

Added GPIO note
  README.md
Due: none

Initial commit. Works with Zwift
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update README.md
  README.md
Due: none

more features
  Hardware/Body_Drawing.SLDPRT
  Hardware/Body_Drawing_Left.SLDPRT
  Hardware/Body_Drawing_Left.STL
  Hardware/Body_Drawing_Right.SLDPRT
  Hardware/Body_Drawing_Right.STL
Due: none

Dummy Spin Down procedure working
  include/BLE_Common.h
  src/BLE_Common.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Finally working with Trainer Road
  include/BLE_Common.h
  lib/SS2K/include/Constants.h
  src/BLE_Common.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Prelim non-working ERG
  include/BLE_Common.h
  src/BLE_Common.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor to move shifterPosition into userConfig
  include/SmartSpin_parameters.h
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
