Repository doudar/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-clang-format, docker-cpplint, docker-piocheck

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: --user=root --entrypoint /root/.platformio/penv/bin/pio shaguarger/platformio:latest check --project-dir /src

almost there
  include/BLE_KickrBikeService.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_KickrBikeService.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

wip
  lib/SS2K/include/Constants.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_KickrBikeService.cpp
  src/BLE_Server.cpp
  src/DirConManager.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

sync or async?
  src/BLE_KickrBikeService.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

bugfixes
  CHANGELOG.md
  src/BLE_Client.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Working with Mark Roy to tune PID
  CHANGELOG.md
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Use minutes instead of ms. Fix BLE
  data/settings.html
  include/BLE_Custom_Characteristic.h
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Custom_Characteristic.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Remove obsolete ms convertions
  data/settings.html
Due: none

- More ERG tweaks for Marc Roy.
  CHANGELOG.md
  include/ERG_Mode.h
  src/ERG_Mode.cpp
  src/PowerTable_Helpers.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Revert "- More ERG tweaks for Marc Roy."
  CHANGELOG.md
  include/ERG_Mode.h
  src/ERG_Mode.cpp
  src/PowerTable_Helpers.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Merged Mark Roy with Marc Roy
  CHANGELOG.md
  include/ERG_Mode.h
  src/ERG_Mode.cpp
  src/PowerTable_Helpers.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.12.28
  CHANGELOG.md
Due: none

Update src/ERG_Mode.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update src/SensorCollector.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added ERG commands, attempted to send gear keypresses.
  include/BLE_KickrBikeService.h
  src/BLE_KickrBikeService.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

ERG being decoded correctly.
  src/BLE_KickrBikeService.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleaning up
  include/BLE_KickrBikeService.h
  lib/SS2K/include/Constants.h
  src/BLE_KickrBikeService.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

- Added feed forward, disabled PowerTable for ERG lookup.
  CHANGELOG.md
  include/settings.h
  src/ERG_Mode.cpp
  test/data_helpers.cpp
  test/test_table_fill.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added tests and removal of duplicates in pt column.
  .vscode/settings.json
  CHANGELOG.md
  include/PowerTable_Helpers.h
  platformio.ini
  src/PowerTable_Helpers.cpp
  test/data/Nebula.ptab
  test/data/Nebula3 copy.ptab
  test/data/Nebula3.ptab
  test/data_helpers.cpp
  test/test.h
  test/test_pava_convergence.cpp
  test/test_pt_lookup_resistance.cpp
  test/test_pt_lookup_watts.cpp
  test/test_unity.cpp
  test/test_write_PowerTable.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

cleanup
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Set gear 8 after startup homing
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

After startup homing, set gear 8.
  CHANGELOG.md
Due: none

experimental lookup methods
  src/PowerTable_Helpers.cpp
  test/data/converged_nebula3.ptab
  test/test_pt_lookup_resistance.cpp
  test/test_pt_lookup_watts.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

before removing monotonicity in favor of regression
  include/PowerTable_Helpers.h
  include/settings.h
  src/ERG_Mode.cpp
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  test/test_pt_lookup_watts.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Ready to test again.
  include/PowerTable_Helpers.h
  src/PowerTable_Helpers.cpp
  test/data/marc_roy.txt
  test/data_helpers.cpp
  test/test.h
  test/test_linear_extrapolate.cpp
  test/test_pava_convergence.cpp
  test/test_pt_lookup_watts.cpp
  test/test_table_fill.cpp
  test/test_unity.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added y-axis lock to testing
  src/PowerTable_Helpers.cpp
  test/data_helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Load power table if not yet loaded during session
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

working great. needs cleanup.
  include/PowerTable_Helpers.h
  include/Power_Table.h
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/Power_Table.cpp
  test/test_table_fill.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleanup
  include/PowerTable_Helpers.h
  src/PowerTable_Helpers.cpp
  test/data/Ride_Log4.txt
  test/test_table_fill.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Refactor ERG mode logic and improve cadence calculations; add mode struct for clarity
  CHANGELOG.md
  include/ERG_Mode.h
  lib/SS2K/src/sensors/CscSensorData.cpp
  lib/SS2K/src/sensors/CyclePowerData.cpp
  lib/SS2K/src/sensors/FitnessMachineIndoorBikeData.cpp
  lib/SS2K/src/sensors/PelotonData.cpp
  src/BLE_Client.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
  src/PowerTable_Helpers.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

testing complete
  include/BLE_Custom_Characteristic.h
  src/BLE_Custom_Characteristic.cpp
  src/Main.cpp
  src/PowerTable_Helpers.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Switched inactivity timeout to 2F for compatibility with other recent changes.
  CHANGELOG.md
  include/BLE_Custom_Characteristic.h
  include/settings.h
Due: docker-clang-format, docker-cpplint

Fixed Case break from merge.
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

hw test updates
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left_no_Logo.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right_no_Logo.STEP
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right.SLDPRT
Due: none

an example of why hardware should be seperate from software
  lib/ArduinoCompat/include/host/ble_uuid.h
  lib/ArduinoCompat/include/os/endian.h
Due: docker-clang-format, docker-cpplint

Updated case
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Left_no_Logo.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right.STEP
  Hardware/V3 - Integrated PCB/Case/Body_Drawing_Right_no_Logo.STEP
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/CAD/Body_Drawing_Right.SLDPRT
Due: none

Create Sole SB1200.AD_PRT
  Hardware/Common Assets/Inserts/Alibre/Sole SB1200.AD_PRT
Due: none

Update changelog for version 26.1.10
  CHANGELOG.md
Due: none

Increase BLE message size and silence MTU log
  dependencies.lock
  include/BleAppender.h
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix ERG mode logic and improve power table validation; reset target incline on stop
  CHANGELOG.md
  dependencies.lock
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
